Repository kyma-project/test-infra, pull requests merged in 2018-10, with the labels that each got.

#22 Add WG members to codeowners
  CODEOWNERS
Labels: area/ci, wg/prow

#10 Add installation script for Prow
  prow-configurations/README.md
  prow-configurations/install-prow.sh
  prow-configurations/remove-prow.sh
Labels: area/ci, wg/prow

#31 Update documentation for install-prow.sh script
  .gitignore
  prow-configurations/README.md
  prow-configurations/install-prow.sh
Labels: area/ci, wg/prow

#33 Provide script for provisioning cluster
  prow-configurations/README.md
  prow-configurations/provision-cluster.sh
Labels: area/ci, wg/prow

#35 Copy template for security issues
  .github/ISSUE_TEMPLATE/security-vulnerability.md
Labels: area/documentation, area/security, enhancement, sig/core

#34 Generate minimal plugins.yaml
  .gitignore
  prow-configurations/README.md
  prow-configurations/config.yaml
  prow-configurations/development/check.sh
  prow-configurations/development/checker/Gopkg.lock
  prow-configurations/development/checker/Gopkg.toml
  prow-configurations/development/checker/doc.go
  prow-configurations/development/generate.sh
  prow-configurations/development/generator/Gopkg.lock
  prow-configurations/development/generator/Gopkg.toml
  prow-configurations/development/generator/before-commit.sh
  prow-configurations/development/generator/main.go
  prow-configurations/install-prow.sh
  prow-configurations/plugins.yaml.tpl
  prow-configurations/update-plugins.sh
Labels: wg/prow

#43 Generate minimal config.yaml
  .gitignore
  prow-configurations/README.md
  prow-configurations/config.yaml
  prow-configurations/config.yaml.tpl
  prow-configurations/development/generate.sh
  prow-configurations/update-config.sh
Labels: area/ci, wg/prow

#52 Setup allow cancellation flag
  prow-configurations/config.yaml.tpl
Labels: area/ci, wg/prow

#44 Run integration tests on vm
  integration-job/Dockerfile
  integration-job/README.md
  integration-job/provision_vm_and_start_kyma.sh
  integration-job/vm/install_deps_and_run_kyma.sh
  prow-configurations/config.yaml.tpl
Labels: area/ci, wg/prow

#66 Add minor fixes in terminology
  integration-job/README.md
Labels: area/documentation

#65 Fix for secrets management
  prow-configurations/install-prow.sh
Labels: area/ci, wg/prow

#51 Prow secrets management docu
  docs/prow-secrets-management.md
  prow-configurations/README.md
Labels: area/ci, wg/prow

#62 Add production configuration
  prow-configurations/config.yaml.tpl
  prow-configurations/plugins.yaml.tpl
  prow/README.md
  prow/cluster/01-cert-manager.yaml
  prow/cluster/02-cluster-issuer.yaml
  prow/cluster/03-tls-ing_ingerss.yaml
  prow/config.yaml
  prow/install-prow.sh
  prow/plugins.yaml
Labels: area/ci, wg/prow

#74 Improve bot account note
  prow-configurations/README.md
Labels: area/ci, area/documentation

#77 Run kyma-integration selectively
  prow-configurations/config.yaml.tpl
  prow/config.yaml
Labels: area/ci, wg/prow

#71 Placeholder job for provisioning GKE cluster for integration tests
  prow-configurations/config.yaml.tpl
  prow/config.yaml
Labels: area/ci

#79 Fix null argument issue
  integration-job/provision_vm_and_start_kyma.sh
  prow-configurations/config.yaml.tpl
  prow/config.yaml
Labels: area/ci, wg/prow

#76 Strategy for organising jobs
  .gitignore
  development/README.md
  development/check.sh
  development/checker/Gopkg.lock
  development/checker/Gopkg.toml
  development/checker/doc.go
  development/create-gcp-secrets.sh
  development/install-prow.sh
  development/provision-cluster.sh
  development/remove-prow.sh
  development/update-config.sh
  development/update-plugins.sh
  prow-configurations/development/check.sh
  prow-configurations/development/generate.sh
  prow-configurations/development/generator/Gopkg.lock
  prow-configurations/development/generator/Gopkg.toml
  prow-configurations/development/generator/before-commit.sh
  prow-configurations/development/generator/main.go
  prow-configurations/plugins.yaml.tpl
  prow-configurations/update-config.sh
  prow-configurations/update-plugins.sh
  prow/cluster/starter.yaml
  prow/config.yaml
  prow/jobs/kyma/components/ui-api-layer/jobs.yaml
  prow/jobs/kyma/integration.yaml
  prow/plugins.yaml
Labels: area/ci, area/documentation, wg/prow

#80 Remove default values from the install prow script
  development/README.md
  development/install-prow.sh
  prow/README.md
Labels: area/ci, wg/prow

#90 Job files renaming
  development/README.md
  prow/jobs/console/brokers/brokers.jobs.yaml
  prow/jobs/console/catalog/catalog.jobs.yaml
  prow/jobs/console/content/content.jobs.yaml
  prow/jobs/console/instances/instances.jobs.yaml
  prow/jobs/kyma/components/ui-api-layer/ui-api-layer.jobs.yaml
  prow/jobs/kyma/kyma-integration.yaml
Labels: area/ci, wg/prow
