Repository kyma-project/test-infra, pull requests merged in 2018-11, with the labels that each got.

#86 Checkout kyma for kyma integration job
  development/create-gcp-secrets.sh
  development/install-prow.sh
  prow/jobs/kyma/kyma-integration.yaml
Labels: area/ci, wg/prow

#98 Refactor Kyma integration job
  integration-job/Dockerfile
  integration-job/README.md
  integration-job/provision_vm_and_start_kyma.sh
  integration-job/vm/install_deps_and_run_kyma.sh
  prow/config.yaml
  prow/jobs/kyma/kyma-integration.yaml
  prow/scripts/provision-vm-and-start-kyma.sh
Labels: area/ci, area/documentation, wg/prow

#94 Reserve static IP address on GCP
  prow/scripts/reserve-ip-address.sh
Labels: area/ci

#92 Generate type A DNS record
  prow/scripts/create-dns-entry.sh
Labels: area/ci

#105 Fix insufficient permission issue
  prow/scripts/provision-vm-and-start-kyma.sh
Labels: area/ci, wg/prow

#100 Create job for integration tests
  prow/config.yaml
  prow/jobs/kyma/kyma-integration.yaml
  prow/scripts/cluster-integration/pr-gke-integration.sh
Labels: area/ci

#99 Fix error on running integration tests: Login profile size exceeds 32 KiB
  prow/images/cleaner/Dockerfile
  prow/images/cleaner/README.md
  prow/images/cleaner/cleaner.sh
  prow/jobs/kyma/kyma-integration.yaml
Labels: area/ci, area/documentation, wg/prow

#97 Generate self signed certificate
  prow/scripts/generate-self-signed-cert.sh
Labels: area/ci

#107 Remove DNS record of type A
  prow/scripts/cluster-integration/delete-dns-record.sh
Labels: area/ci, wg/prow

#106 Release IP address from GCP
  prow/scripts/cluster-integration/release-ip-address.sh
Labels: area/ci, wg/prow

#109 Provision and clean-up all external resources
  prow/config.yaml
  prow/images/bootstrap/Dockerfile
  prow/jobs/kyma/kyma-integration.yaml
  prow/scripts/cluster-integration/create-dns-record.sh
  prow/scripts/cluster-integration/delete-dns-record.sh
  prow/scripts/cluster-integration/generate-self-signed-cert.sh
  prow/scripts/cluster-integration/pr-gke-integration.sh
  prow/scripts/cluster-integration/release-ip-address.sh
  prow/scripts/cluster-integration/reserve-ip-address.sh
  prow/scripts/create-dns-entry.sh
  prow/scripts/reserve-ip-address.sh
Labels: area/ci, wg/prow

#120 Add job for Binding Usage Controller
  prow/jobs/kyma/components/binding-usage-controller/binding-usage-controller.jobs.yaml
Labels: area/ci, wg/prow

#116 Create jobs for publishing buildpacks
  prow/config.yaml
  prow/images/bootstrap/Makefile
  prow/images/buildpack-golang/Makefile
  prow/images/buildpack-node/Makefile
  prow/images/cleaner/Makefile
  prow/jobs/test-infra/buildpack.jobs.yaml
  prow/scripts/library.sh
  prow/scripts/pipeline.sh
  prow/scripts/publish-buildpack.sh
Labels: area/ci, wg/prow

#119 Create job for yaml check
  prow/install-prow.sh
  prow/jobs/test-infra/configs.jobs.yaml
Labels: area/ci, wg/prow

#111 Abort gcloud DNS transaction if create-dns-entry.sh script fails
  prow/scripts/cluster-integration/create-dns-record.sh
Labels: WIP, area/ci, bug

#110 Restructure documentation in test-infra
  README.md
  development/README.md
  docs/prow-secrets-management.md
  docs/prow/README.md
  docs/prow/kyma-release-process.md
  docs/prow/production-cluster-configuration.md
  docs/prow/prow-installation-on-forks.md
  docs/prow/prow-secrets-management.md
  prow/README.md
  prow/cluster/README.md
  prow/images/README.md
  prow/images/bootstrap/README.md
  prow/images/buildpack-golang/README.md
  prow/images/buildpack-node/README.md
  prow/scripts/README.md
  prow/scripts/cluster-integration/README.md
Labels: area/documentation, wg/prow

#129 Add minor fixes
  prow/README.md
  prow/scripts/README.md
  prow/scripts/cluster-integration/README.md
Labels: area/documentation, wg/prow

#121 Add Kyma installation to GKE integration script
  prow/scripts/cluster-integration/create-dns-record.sh
  prow/scripts/cluster-integration/generate-self-signed-cert.sh
  prow/scripts/cluster-integration/pr-gke-integration.sh
  prow/scripts/library.sh
Labels: area/ci, area/cluster, wg/prow

#137 Run buildpack jobs only on master
  prow/jobs/test-infra/buildpack.jobs.yaml
Labels: area/ci, wg/prow

#125 Guard instance creation from single zone resource allocation problem
  prow/jobs/kyma/kyma-integration.yaml
  prow/scripts/library.sh
  prow/scripts/provision-vm-and-start-kyma.sh
Labels: area/ci, area/cluster, wg/prow

#133 Buc postsubmit job
  development/tools/Gopkg.lock
  development/tools/Gopkg.toml
  development/tools/Makefile
  development/tools/jobs/buc_test.go
  development/tools/jobs/tester/tester.go
  development/tools/jobs/ui-api-layer_test.go
  prow/jobs/console/brokers/brokers.yaml
  prow/jobs/console/catalog/catalog.yaml
  prow/jobs/console/content/content.yaml
  prow/jobs/kyma/components/binding-usage-controller/binding-usage-controller.jobs.yaml
  prow/jobs/kyma/components/binding-usage-controller/binding-usage-controller.yaml
  prow/jobs/kyma/components/ui-api-layer/ui-api-layer.yaml
  prow/jobs/test-infra/test-jobs-yaml-definitions.yaml
Labels: area/ci, wg/prow

#151 Fix repository name in job test-jobs-yaml-definitions
  prow/jobs/test-infra/test-jobs-yaml-definitions.yaml
Labels: area/ci, wg/prow

#153 test-jobs-yaml-definitions - fix run_if_changed regexp
  development/tools/jobs/binding_usage_controller_test.go
  development/tools/jobs/test_job_definitions_test.go
  development/tools/jobs/tester/tester.go
  development/tools/jobs/ui_api_layer_test.go
  prow/jobs/test-infra/buildpack.yaml
  prow/jobs/test-infra/test-job-definitions.yaml
  prow/jobs/test-infra/validation.yaml
Labels: area/ci, wg/prow

#113 Migration guide
  docs/prow/assets/msg-updated-config.png
  docs/prow/migration-guide.md
Labels: area/ci, area/documentation, wg/prow

#159 test-jobs-yaml-definitions - fix run_if_changed field
  development/tools/jobs/test_job_definitions_test.go
  prow/jobs/test-infra/test-job-definitions.yaml
Labels: area/ci, wg/prow

#161 Add changes in the instruction for forks
  docs/prow/prow-installation-on-forks.md
Labels: area/documentation, wg/prow

#122 Build Kyma-Installer Docker image
  docs/prow/prow-installation-on-forks.md
  prow/jobs/kyma/kyma-integration.yaml
  prow/scripts/README.md
  prow/scripts/cluster-integration/README.md
  prow/scripts/cluster-integration/create-dns-record.sh
  prow/scripts/cluster-integration/create-image.sh
  prow/scripts/cluster-integration/delete-image.sh
  prow/scripts/cluster-integration/pr-gke-integration.sh
  prow/scripts/cluster-integration/validate-image-name.sh
  prow/scripts/library.sh
Labels: area/ci, wg/prow

#146 Create bootstrap-helm image
  prow/images/bootstrap-helm/Dockerfile
  prow/images/bootstrap-helm/Makefile
  prow/images/bootstrap-helm/README.md
  prow/jobs/test-infra/buildpack.yaml
Labels: area/ci, wg/prow

#138 Add branch protection
  prow/README.md
  prow/cluster/04-branchprotector_cronjob.yaml
  prow/cluster/README.md
  prow/config.yaml
  prow/install-prow.sh
  prow/plugins.yaml
Labels: area/ci, area/documentation, area/security, wg/prow

#173 Add testing.sh to the GKE integration pipeline
  prow/jobs/kyma/kyma-integration.yaml
  prow/scripts/cluster-integration/pr-gke-integration.sh
Labels: area/ci, wg/prow

#149 Move provision and deprovision gke cluster scripts from kyma repository
  prow/scripts/cluster-integration/deprovision-gke-cluster.sh
  prow/scripts/cluster-integration/pr-gke-integration.sh
  prow/scripts/cluster-integration/provision-gke-cluster.sh
Labels: area/ci, wg/prow

#190 Rename the jobs
  development/tools/jobs/console/brokers_test.go
  development/tools/jobs/console/catalog_test.go
  development/tools/jobs/console/content_test.go
  development/tools/jobs/console/instances_test.go
  development/tools/jobs/kyma/binding_usage_controller_test.go
  development/tools/jobs/kyma/remote_environment_broker_test.go
  development/tools/jobs/kyma/ui_api_layer_test.go
  development/tools/jobs/testinfra/buildpack_test.go
  docs/prow/kyma-release-process.md
  docs/prow/migration-guide.md
  prow/README.md
  prow/config.yaml
  prow/jobs/console/brokers/brokers.yaml
  prow/jobs/console/catalog/catalog.yaml
  prow/jobs/console/content/content.yaml
  prow/jobs/console/instances/instances.yaml
  prow/jobs/kyma/components/binding-usage-controller/binding-usage-controller.yaml
  prow/jobs/kyma/components/remote-environment-broker/remote-environment-broker.yaml
  prow/jobs/kyma/components/ui-api-layer/ui-api-layer.yaml
  prow/jobs/kyma/kyma-integration.yaml
  prow/jobs/test-infra/buildpack.yaml
  prow/jobs/test-infra/development/tools/tools.yaml
  prow/jobs/test-infra/test-job-definitions.yaml
  prow/jobs/test-infra/validation.yaml
Labels: area/ci, area/documentation, wg/prow

#199 Fix job name in branch protection
  prow/config.yaml
Labels: bug, wg/prow

#198 Update the resource name
  docs/prow/kyma-release-process.md
  docs/prow/migration-guide.md
  docs/prow/production-cluster-configuration.md
  docs/prow/prow-installation-on-forks.md
  docs/prow/prow-secrets-management.md
  prow/README.md
  prow/images/README.md
Labels: area/documentation

#203 Add kyma-incubator plugin to plugin.yaml file
  prow/plugins.yaml
Labels: enhancement, wg/prow

#200 Add job for Helm Broker
  development/tools/jobs/kyma/helm_broker_test.go
  prow/jobs/kyma/components/helm-broker/helm-broker.yaml
Labels: area/ci, wg/prow

#108 landscape documentation
  docs/prow/assets/prow-architecture.svg
  docs/prow/prow-architecture.md
Labels: area/ci, area/documentation, wg/prow

#214 Increase hmac token to 32 bytes
  development/install-prow.sh
Labels: area/ci, wg/prow

#217 Remove capitalization from headers
  docs/prow/prow-architecture.md
Labels: area/documentation

#212 Add jobs for etcd backup tool
  development/tools/jobs/kyma/tools/etcd_backup_test.go
  prow/jobs/kyma/tools/etcd-backup/etcd-backup.yaml
Labels: enhancement, wg/prow

#205 Add job for Stability Checker
  development/tools/jobs/kyma/stability_checker_test.go
  prow/jobs/kyma/tools/stability-checker/stability-checker.yaml
Labels: area/ci, wg/prow

#188 Add jobs for service catalog tester
  development/tools/jobs/incubator/service-catalog-tester/service_catalog_tester_test.go
  development/tools/jobs/tester/tester.go
  prow/config.yaml
  prow/jobs/incubator/service-catalog-tester/service-catalog-tester.yaml
Labels: area/service-catalog, wg/prow

#207 Make updating secrets more generic
  development/README.md
  development/create-gcp-secrets.sh
  development/install-prow.sh
  development/remove-prow.sh
  development/tools/Gopkg.lock
  development/tools/cmd/secretspopulator/README.md
  development/tools/cmd/secretspopulator/automock/decryptor.go
  development/tools/cmd/secretspopulator/automock/storage_reader.go
  development/tools/cmd/secretspopulator/main.go
  development/tools/cmd/secretspopulator/main_test.go
  docs/prow/migration-guide.md
  docs/prow/prow-installation-on-forks.md
  prow/cluster/README.md
  prow/cluster/required-secrets.yaml
  prow/config.yaml
Labels: area/ci, area/documentation, wg/prow

#231 GKE integration pipeline: fix wrong DNS name in UI tests
  prow/scripts/cluster-integration/create-dns-record.sh
  prow/scripts/cluster-integration/delete-dns-record.sh
  prow/scripts/cluster-integration/pr-gke-integration.sh
Labels: area/ci, bug, priority/critical, wg/prow

#228 Fix deprovisioning
  docs/prow/prow-installation-on-forks.md
  prow/scripts/cluster-integration/README.md
  prow/scripts/cluster-integration/delete-disks.sh
  prow/scripts/cluster-integration/deprovision-gke-cluster.sh
  prow/scripts/cluster-integration/pr-gke-integration.sh
  prow/scripts/cluster-integration/provision-gke-cluster.sh
Labels: area/ci, bug, priority/critical, wg/prow

#251 Add job for tools/alpine-net
  development/tools/jobs/kyma/tools/alpine_net_test.go
  prow/jobs/kyma/tools/alpine-net/alpine-net.yaml
Labels: area/ci, wg/prow

#243 Setup prow job for kymactl
  development/tools/jobs/incubator/kymactl/kymactl_test.go
  prow/jobs/incubator/kymactl/kymactl.yaml
Labels: area/ci, wg/prow

#249 Prow migration console core
  development/tools/jobs/console/core_test.go
  prow/jobs/console/core/core.yaml
Labels: area/ci, wg/prow

#246 Add presubmit and postsubmit job for environments component
  development/tools/jobs/kyma/environments_test.go
  prow/jobs/kyma/components/environments/environments.yaml
Labels: area/ci, wg/prow

#254 Migrate examples to Prow
  development/tools/jobs/examples/call_ec_test.go
  development/tools/jobs/examples/event_email_service_test.go
  development/tools/jobs/examples/http_db_service_test.go
  development/tools/jobs/examples/monitoring_custom_metrics_test.go
  development/tools/jobs/examples/tests/http_db_service_acceptance_tests_test.go
  development/tools/jobs/examples/tracing_test.go
  prow/jobs/examples/call-ec/call-ec.yaml
  prow/jobs/examples/event-email-service/event-email-service.yaml
  prow/jobs/examples/http-db-service/http-db-service.yaml
  prow/jobs/examples/monitoring-custom-metrics/monitoring-custom-metrics.yaml
  prow/jobs/examples/tests/http-db-service-acceptance-tests/http-db-service-acceptance-tests.yaml
  prow/jobs/examples/tracing/tracing.yaml
Labels: area/ci, wg/prow
