Repository kyma-project/test-infra, pull requests merged in 2018-12, with the labels that each got.

#261 GKE integration pipeline: fix connector-service-tests bug
  prow/scripts/cluster-integration/pr-gke-integration.sh
Labels: area/ci, bug, priority/critical, wg/prow

#265 Add Branch Protector description
  docs/prow/prow-architecture.md
Labels: area/documentation

#252 Add jobs for Metadata Service and Metadata Service Tests
  development/tools/jobs/kyma/metadata_service_test.go
  development/tools/jobs/kyma/metadata_service_tests_test.go
  prow/jobs/kyma/components/metadata-service/metadata-service.yaml
  prow/jobs/kyma/tests/metadata-service-tests/metadata-service-tests.yaml
Labels: area/application-connector, wg/prow

#245 Add jobs for RE Controller and RE Controller tests
  development/tools/jobs/kyma/remote_environment_controller_test.go
  development/tools/jobs/kyma/remote_environment_controller_tests_test.go
  prow/jobs/kyma/components/remote-environment-controller/remote-environment-controller.yaml
  prow/jobs/kyma/tests/remote-environment-controller-tests/remote-environment-controller-tests.yaml
Labels: area/application-connector, wg/prow

#238 Add jobs for Connector Service and Connector Service Tests
  development/tools/jobs/kyma/connector_service_test.go
  development/tools/jobs/kyma/connector_service_tests_test.go
  prow/jobs/kyma/components/connector-service/connector-service.yaml
  prow/jobs/kyma/tests/connector-service-tests/connector-service-tests.yaml
Labels: area/application-connector, wg/prow

#250 Jobs for connection token handler
  development/tools/jobs/kyma/connection_token_handler_test.go
  prow/jobs/kyma/components/connection-token-handler/connection-token-handler.yaml
Labels: area/application-connector, wg/prow

#255 Jobs for proxy-service
  development/tools/jobs/kyma/proxy_service_test.go
  prow/jobs/kyma/components/proxy-service/proxy-service.yaml
Labels: area/application-connector, wg/prow

#270 Fix typo in job definition for connection-token-handler
  prow/jobs/kyma/components/connection-token-handler/connection-token-handler.yaml
Labels: area/application-connector, wg/prow

#253 Update component versions
  development/checker/Gopkg.lock
  development/checker/Gopkg.toml
  prow/cluster/starter.yaml
Labels: area/ci, wg/prow

#271 Introduce UI API Layer acceptance tests job
  prow/jobs/kyma/tests/ui-api-layer-acceptance-tests/ui-api-layer-acceptance-tests.yaml
Labels: area/ci, enhancement

#272 Migrate varkes to Prow
  development/tools/jobs/incubator/varkes/app_connector_client_test.go
  development/tools/jobs/incubator/varkes/odata_mock_test.go
  development/tools/jobs/incubator/varkes/openapi_mock_test.go
  prow/jobs/incubator/varkes/app-connector-client/app-connector-client.yaml
  prow/jobs/incubator/varkes/odata-mock/odata-mock.yaml
  prow/jobs/incubator/varkes/openapi-mock/openapi-mock.yaml
Labels: area/ci, wg/prow

#276 Migrate kubeless, logging, monitoring and lambda to Prow
  development/tools/jobs/console/lambda_test.go
  development/tools/jobs/kyma/kubeless_integration_tests_test.go
  development/tools/jobs/kyma/kubeless_tests_test.go
  development/tools/jobs/kyma/logging_tests_test.go
  development/tools/jobs/kyma/test_logging_monitoring_test.go
  prow/jobs/console/lambda/lambda.yaml
  prow/jobs/kyma/tests/kubeless-integration/kubeless-integration.yaml
  prow/jobs/kyma/tests/kubeless/kubeless.yaml
  prow/jobs/kyma/tests/logging/logging.yaml
  prow/jobs/kyma/tests/test-logging-monitoring/test-logging-monitoring.yaml
Labels: area/ci

#269 Migrate test-environments to Prow
  development/tools/jobs/kyma/test_environments_test.go
  prow/jobs/kyma/tests/test-environments/test-environments.yaml
Labels: area/ci, wg/prow

#267 Implement postsubmit workflow for gke-integration
  prow/jobs/kyma/kyma-integration.yaml
  prow/scripts/cluster-integration/README.md
  prow/scripts/cluster-integration/kyma-gke-integration.sh
Labels: area/ci, wg/prow

#204 Add tooling for easy-access to job details
  prow/cluster/starter.yaml
  prow/config.yaml
Labels: area/ci, wg/prow

#279 Add prow jobs for event-service and k8s-dashboard-proxy components
  development/tools/jobs/kyma/event_service_test.go
  development/tools/jobs/kyma/k8s_dashboard_proxy_test.go
  prow/jobs/kyma/components/event-service/event-service.yaml
  prow/jobs/kyma/components/k8s-dashboard-proxy/k8s-dashboard-proxy.yaml
Labels: area/ci

#282 Define Kyma docs job
  development/tools/jobs/kyma/docs_test.go
  development/tools/jobs/kyma/ui_api_layer_acceptance_tests_test.go
  development/tools/jobs/tester/tester.go
  prow/jobs/kyma/docs/docs.yaml
Labels: area/ci, enhancement

#284 Add security context for website
  prow/jobs/website/website.yaml
Labels: area/ci

#281 Event Bus component build job
  development/tools/jobs/kyma/event_bus_test.go
  prow/jobs/kyma/components/event-bus/event-bus.yaml
Labels: area/ci, area/eventing, wg/prow

#290 Add branch protection for website repository
  development/tools/jobs/website/website_test.go
  development/tools/jobs/website/website_tools_documentation_generator_test.go
  prow/config.yaml
  prow/jobs/website/tools/documentation-generator/website-tools-documentation-generator.yaml
  prow/jobs/website/website.yaml
Labels: area/ci

#291 Replace docs job image to Golang buildpack
  development/tools/jobs/kyma/docs_test.go
  prow/jobs/kyma/docs/docs.yaml
Labels: area/ci, bug

#288 Limit concurrent prow jobs and define limit range.
  prow/cluster/05-limit-range.yaml
  prow/cluster/README.md
  prow/config.yaml
  prow/install-prow.sh
Labels: area/ci, area/documentation, wg/prow

#283 Update documentation for bucket permissions
  docs/prow/prow-installation-on-forks.md
Labels: area/ci, area/documentation, wg/prow

#293 Remove limit range
  prow/cluster/05-limit-range.yaml
  prow/cluster/README.md
  prow/install-prow.sh
Labels: area/ci, wg/prow

#292 Adapt test-infra repo to new kyma-installer dir
  prow/scripts/cluster-integration/create-image.sh
Labels: area/installation, bug

#277 Add new buildpack supporting chrome for tests in console
  prow/images/buildpack-node-chromium/Dockerfile
  prow/images/buildpack-node-chromium/Makefile
  prow/images/buildpack-node-chromium/README.md
  prow/jobs/test-infra/buildpack.yaml
Labels: WIP, area/ci, area/console

#299 Define pipeline for DocsBuilder tool
  development/tools/jobs/kyma/docsbuilder_test.go
  prow/jobs/kyma/tools/docsbuilder/docsbuilder.yaml
Labels: area/ci, enhancement

#286 tests/event-bus component build job
  development/tools/jobs/kyma/test_event_bus_test.go
  prow/jobs/kyma/tests/event-bus/test-event-bus.yaml
Labels: area/ci, area/eventing

#280 Add governance jobs
  development/tools/jobs/community/governance_test.go
  development/tools/jobs/console/governance_test.go
  development/tools/jobs/examples/governance_test.go
  development/tools/jobs/kyma/governance_test.go
  development/tools/jobs/tester/tester.go
  development/tools/jobs/testinfra/governance_test.go
  development/tools/jobs/website/governance_test.go
  docs/prow/production-cluster-configuration.md
  milv.config.yaml
  prow/jobs/community/community-governance.yaml
  prow/jobs/console/console-governance.yaml
  prow/jobs/examples/examples-governance.yaml
  prow/jobs/kyma/kyma-governance.yaml
  prow/jobs/test-infra/test-infra-governance.yaml
  prow/jobs/website/website-governance.yaml
  prow/scripts/README.md
Labels: area/ci, area/documentation, enhancement

#285 Migrate vstudio-extension to Prow
  development/tools/jobs/incubator/vstudio-extension/vstudio_extension_test.go
  prow/jobs/incubator/vstudio-extension/vstudio-extension.yaml
Labels: area/ci, wg/prow

#296 Add minor updates to docs
  docs/prow/README.md
  docs/prow/assets/prow-architecture.svg
  docs/prow/production-cluster-configuration.md
  docs/prow/prow-installation-on-forks.md
  docs/prow/prow-secrets-management.md
Labels: area/documentation

#289 Orphaned disks removal
  development/tools/Gopkg.lock
  development/tools/Gopkg.toml
  development/tools/cmd/diskscollector/README.md
  development/tools/cmd/diskscollector/main.go
  development/tools/pkg/diskscollector/automock/disk_api.go
  development/tools/pkg/diskscollector/automock/zone_api.go
  development/tools/pkg/diskscollector/collector.go
  development/tools/pkg/diskscollector/collector_test.go
  development/tools/pkg/diskscollector/wrappers.go
Labels: area/ci, wg/prow

#304 Checks: test-infra-governance and website-governace should not be marked as required
  prow/config.yaml
  prow/jobs/test-infra/test-infra-governance.yaml
  prow/jobs/website/website-governance.yaml
Labels: area/ci, wg/prow

#302 Add governance.sh script
  prow/config.yaml
  prow/scripts/governance.sh
Labels: area/ci, enhancement

#309 Set governance job as required
  prow/config.yaml
  prow/jobs/test-infra/test-infra-governance.yaml
  prow/jobs/website/website-governance.yaml
Labels: area/ci

#307 Renamed Remote Environment Controller to Application Operator
  development/tools/jobs/kyma/application_operator_test.go
  development/tools/jobs/kyma/application_operator_tests_test.go
  prow/jobs/kyma/components/application-operator/application-operator.yaml
  prow/jobs/kyma/tests/application-operator-tests/application-operator-tests.yaml
Labels: area/application-connector, enhancement

#313 Migrate gateway-tests to Prow
  development/tools/jobs/kyma/gateway_tests_test.go
  prow/jobs/kyma/tests/gateway-tests/gateway-tests.yaml
Labels: area/ci, wg/prow

#260 Add job for Bundles repo
  development/tools/jobs/bundles/bundles_test.go
  prow/jobs/bundles/bundles.yaml
Labels: area/ci, wg/prow

#306 Orphaned disks removal prowjob
  development/disks-cleanup.sh
  prow/jobs/kyma/kyma-integration.yaml
Labels: area/ci, wg/prow

#315 Always run bundles presubmit job
  development/tools/jobs/bundles/bundles_test.go
  prow/jobs/bundles/bundles.yaml
Labels: area/ci, enhancement, wg/prow

#316 Change REB to AB
  development/tools/jobs/kyma/application_broker_test.go
  prow/jobs/kyma/components/application-broker/application-broker.yaml
Labels: area/application-connector, area/ci

#311 Migrate configurations-generator to prow
  development/tools/jobs/kyma/configurations_generator_test.go
  prow/jobs/kyma/components/configurations-generator/configurations-generator.yaml
Labels: area/ci, wg/prow

#320 Fix periodic job name
  prow/jobs/kyma/kyma-integration.yaml
Labels: area/ci, bug, wg/prow

#323 Update provision-gke-cluster.sh
  prow/scripts/cluster-integration/provision-gke-cluster.sh
Labels: area/ci, area/cluster, bug, wg/prow

#322 Add extra_ref for docs generation
  development/tools/jobs/kyma/docs_test.go
  prow/jobs/kyma/docs/docs.yaml
Labels: area/community, enhancement

#327 Fix link validation for PRs with deleted files
  prow/scripts/governance.sh
Labels: area/ci, area/documentation, bug

#328 Update loadbalancer-cleanup.sh
  development/loadbalancer-cleanup.sh
Labels: area/ci, bug, wg/prow

#185 Enable http redirection on deck
  development/install-prow.sh
  prow/cluster/00-deck-patch.yaml
  prow/cluster/03-tls-ing_ingress.yaml
  prow/cluster/README.md
  prow/cluster/starter.yaml
  prow/install-prow.sh
Labels: area/cluster, wg/prow

#319 Add prow configuration for apiserver-proxy
  development/tools/jobs/kyma/apiserver_proxy_test.go
  prow/jobs/kyma/components/apiserver-proxy/apiserver-proxy.yaml
Labels: area/ci, wg/prow

#333 Add application-proxy component
  development/tools/jobs/kyma/application_proxy_test.go
  prow/jobs/kyma/components/application-proxy/application-proxy.yaml
Labels: area/application-connector, enhancement, wg/prow

#335 Add application-registry component
  development/tools/jobs/kyma/application_registry_test.go
  development/tools/jobs/kyma/application_registry_tests_test.go
  prow/jobs/kyma/components/application-registry/application-registry.yaml
  prow/jobs/kyma/tests/application-registry-tests/application-registry-tests.yaml
Labels: area/application-connector, enhancement, wg/prow

#338 Disable ok-to-test
  prow/plugins.yaml
Labels: area/ci, wg/prow

#336 Migrate Prow cluster to new GCP Project
  docs/prow/production-cluster-configuration.md
  docs/prow/prow-installation-on-forks.md
  prow/cluster/03-tls-ing_ingress.yaml
  prow/cluster/required-secrets.yaml
  prow/config.yaml
  prow/install-prow.sh
  prow/jobs/kyma/kyma-integration.yaml
  prow/scripts/cluster-integration/create-image.sh
  prow/scripts/cluster-integration/validate-image-name.sh
Labels: area/ci, area/documentation, area/security, wg/prow

#329 Add monitoring to Prow cluster
  docs/prow/README.md
  docs/prow/prow-monitoring.md
  prow/cluster/05-tiller.yaml
  prow/cluster/06-pushgateway_deployment.yaml
  prow/cluster/README.md
  prow/cluster/resources/README.md
  prow/cluster/resources/monitoring/.gitignore
  prow/cluster/resources/monitoring/Chart.yaml
  prow/cluster/resources/monitoring/README.md
  prow/cluster/resources/monitoring/dashboards/grafana-prow.json
  prow/cluster/resources/monitoring/requirements.lock
  prow/cluster/resources/monitoring/requirements.yaml
  prow/cluster/resources/monitoring/templates/grafana/configmap-dashboards.yaml
  prow/cluster/resources/monitoring/values.yaml
  prow/config.yaml
  prow/install-prow.sh
Labels: area/ci, area/documentation, area/monitoring, wg/prow

#343 Fix kyma-gke-integration job
  prow/scripts/cluster-integration/delete-image.sh
Labels: bug, wg/prow

#334 Orphaned clusters removal tool
  development/tools/Gopkg.lock
  development/tools/cmd/clusterscollector/README.md
  development/tools/cmd/clusterscollector/main.go
  development/tools/pkg/clusterscollector/automock/cluster_api.go
  development/tools/pkg/clusterscollector/collector.go
  development/tools/pkg/clusterscollector/collector_test.go
  development/tools/pkg/clusterscollector/wrappers.go
  development/tools/pkg/common/shout.go
  milv.config.yaml
Labels: area/ci, wg/prow

#354 Fix Branch Protector tests
  development/tools/jobs/testinfra/branchprotector_test.go
Labels: area/ci, bug, wg/prow

#357 Add Kyma branding to Prow
  prow/README.md
  prow/branding/favicon.png
  prow/branding/logo.svg
  prow/cluster/00-deck-patch.yaml
  prow/config.yaml
  prow/install-prow.sh
Labels: area/ci, area/documentation, enhancement, wg/prow

#342 Orphaned VM instances removal tool
  development/tools/cmd/vmscollector/README.md
  development/tools/cmd/vmscollector/main.go
  development/tools/pkg/vmscollector/automock/instances_api.go
  development/tools/pkg/vmscollector/collector.go
  development/tools/pkg/vmscollector/collector_test.go
  development/tools/pkg/vmscollector/wrappers.go
Labels: area/ci, wg/prow

#353 Installer component release job
  development/tools/jobs/kyma/installer_test.go
  prow/jobs/kyma/components/installer/installer.yaml
Labels: area/ci, wg/prow

#361 Simplify jobs and configuration validation
  development/tools/jobs/testinfra/test_job_definitions_test.go
  development/tools/jobs/testinfra/tools_test.go
  development/tools/jobs/testinfra/validate_test.go
  prow/jobs/test-infra/development/tools/tools.yaml
  prow/jobs/test-infra/test-job-definitions.yaml
  prow/jobs/test-infra/validation.yaml
Labels: area/ci, bug, wg/prow

#360 Add job for failery tool
  development/tools/jobs/kyma/failery_test.go
  prow/jobs/kyma/tools/failery/failery.yaml
Labels: area/ci, area/console, enhancement

#365 Disable Jenkins in community repository
  development/tools/jobs/community/governance_test.go
  development/tools/jobs/testinfra/branchprotector_test.go
  prow/config.yaml
  prow/jobs/community/community-governance.yaml
Labels: area/ci, wg/prow

#371 Extend max concurrency to 30
  prow/config.yaml
Labels: area/ci, wg/prow

#356 Create prow jobs for knative-serving-acceptance
  development/tools/jobs/kyma/knative_serving_acceptance_test.go
  prow/jobs/kyma/tests/knative-serving-acceptance/knative-serving-acceptance.yaml
Labels: wg/knative

#373 Switch kyma-gke-integration periodic jobs to production configuration
  development/tools/jobs/kyma/kyma_integration_test.go
  prow/jobs/kyma/kyma-integration.yaml
Labels: area/ci, wg/prow

#375 Add VM instances cleanup prowjob in dryrun mode.
  development/README.md
  development/tools/jobs/kyma/kyma_integration_test.go
  development/vms-cleanup.sh
  prow/jobs/kyma/kyma-integration.yaml
Labels: area/ci, wg/prow

#377 Switch vm instances cleanup job to production config
  development/tools/jobs/kyma/kyma_integration_test.go
  prow/jobs/kyma/kyma-integration.yaml
Labels: area/ci, wg/prow

#376 Improve disks cleaner logs
  development/tools/cmd/diskscollector/main.go
  development/tools/pkg/diskscollector/collector.go
  development/tools/pkg/diskscollector/collector_test.go
Labels: area/ci, wg/prow

#374 Add prowjob for xip-patch component
  development/tools/jobs/kyma/xip_patch_test.go
  prow/jobs/kyma/components/xip-patch/xip-patch.yaml
Labels: area/ci

#390 Add an offboarding checklist
  docs/prow/offboarding-checklist.md
Labels: area/ci, area/documentation, area/security, wg/prow

#408 Release job for kyma-installer
  development/tools/jobs/kyma/kyma_installer_test.go
  development/tools/jobs/tester/tester.go
  prow/jobs/kyma/kyma-installer.yaml
Labels: area/ci, wg/prow

#416 Disable Jenkins for kyma-project/examples repository
  development/tools/jobs/examples/call_ec_test.go
  development/tools/jobs/examples/event_email_service_test.go
  development/tools/jobs/examples/governance_test.go
  development/tools/jobs/examples/http_db_service_test.go
  development/tools/jobs/examples/monitoring_custom_metrics_test.go
  development/tools/jobs/examples/tests/http_db_service_acceptance_tests_test.go
  development/tools/jobs/examples/tracing_test.go
  prow/config.yaml
  prow/jobs/examples/call-ec/call-ec.yaml
  prow/jobs/examples/event-email-service/event-email-service.yaml
  prow/jobs/examples/examples-governance.yaml
  prow/jobs/examples/http-db-service/http-db-service.yaml
  prow/jobs/examples/monitoring-custom-metrics/monitoring-custom-metrics.yaml
  prow/jobs/examples/tests/http-db-service-acceptance-tests/http-db-service-acceptance-tests.yaml
  prow/jobs/examples/tracing/tracing.yaml
Labels: area/ci, wg/prow

#423 Run kyma-integration on PR to release branch
  development/tools/jobs/kyma/kyma_integration_test.go
  development/tools/jobs/tester/tester.go
  prow/jobs/kyma/kyma-integration.yaml
Labels: area/ci, wg/prow

#392 Update milv image
  prow/scripts/governance.sh
Labels: area/ci, area/documentation, enhancement

#413 Define a release job for configurations-generator component
  development/tools/jobs/kyma/configurations_generator_test.go
  prow/jobs/kyma/components/configurations-generator/configurations-generator.yaml
Labels: area/ci, wg/prow

#414 Define a release job for apiserver-proxy component
  development/tools/jobs/kyma/apiserver_proxy_test.go
  prow/jobs/kyma/components/apiserver-proxy/apiserver-proxy.yaml
Labels: area/ci, wg/prow

#412 Define a release job for static-users-generator tool
  development/tools/jobs/kyma/tools/static_users_generator_test.go
  prow/jobs/kyma/tools/static-users-generator/static-users-generator.yaml
Labels: area/ci, wg/prow

#422 Define a release job for api-controller component
  development/tools/jobs/kyma/api_controller_test.go
  prow/jobs/kyma/components/api-controller/api-controller.yaml
Labels: area/ci, wg/prow

#421 Define a release job for Istio-kyma-patch component
  development/tools/jobs/kyma/istio_kyma_patch_test.go
  prow/jobs/kyma/components/istio-kyma-patch/istio-kyma-patch.yaml
Labels: area/ci, wg/prow

#415 kyma-artifacts job
  development/remove-prow.sh
  development/tools/jobs/kyma/kyma_artifacts_test.go
  docs/prow/prow-installation-on-forks.md
  prow/cluster/required-secrets.yaml
  prow/config.yaml
  prow/jobs/kyma/kyma-artifacts.yaml
  prow/scripts/build-kyma-artifacts.sh
Labels: area/ci, wg/prow

#437 Add git configuration to library.sh
  prow/scripts/library.sh
Labels: area/ci

#436 Enabling testing gke-integration job for release branches
  development/tools/jobs/kyma/kyma_integration_test.go
  prow/config.yaml
  prow/jobs/kyma/kyma-integration.yaml
  prow/scripts/cluster-integration/kyma-gke-integration.sh
Labels: area/ci, wg/prow

#438 enable temporary trigger plugin for aszecowka repo
  prow/plugins.yaml
Labels: area/ci, wg/prow
