Repository kyma-project/test-infra, pull requests merged in 2022-04, with the labels that each got.

#5199 Revert "Bump k3d dependency for custom image"
  development/custom-image/install-deps-debian.sh
  prow/scripts/cluster-integration/kyma-integration-k3d.sh
Labels: size/XS, approved, lgtm, area/prow, area/tooling

#5137 Remove subscription-cleanup-job
  development/tools/jobs/control-plane/components_test.go
  prow/jobs/control-plane/components/subscription-cleanup-job/subscription-cleanup-job-generic.yaml
  templates/data/generic_component_control_plane_data.yaml
Labels: approved, size/L, lgtm, area/prow, area/tooling

#5203 remove terraform-provider-kind and terraform-modules
  prow/config.yaml
  templates/templates/prow-config.yaml
Labels: size/XS, approved, lgtm, area/prow, area/templates

#5205 Enable approve for kyma-project/kyma
  prow/plugins.yaml
Labels: size/XS, approved, lgtm, area/prow

#5206 Upgrade alpine image tag to version `1.15.3`
  development/image-syncer/external-images.yaml
Labels: size/XS, approved, lgtm, area/tooling

#5212 Remove unused component jobs
  templates/data/generic_component_data.yaml
Labels: approved, size/M, lgtm

#5217 added nats image to image-syncer
  development/image-syncer/external-images.yaml
Labels: size/XS, approved, lgtm, area/tooling

#5194 Send notification to Slack on release candidate
  development/kyma-pubsub-connector/pubsubConnectorChart/global-prod-values.yaml
  development/kyma-pubsub-connector/pubsubConnectorChart/global-stage-values.yaml
  development/kyma-pubsub-connector/pubsubConnectorChart/values/releasecluster.created/prod-values.yaml
  development/kyma-pubsub-connector/pubsubConnectorChart/values/releasecluster.created/stage-values.yaml
  development/kyma-slack-connector/releaseClusterCreatedFunction/handler.py
  development/kyma-slack-connector/releaseClusterCreatedFunction/requirements.txt
  development/kyma-slack-connector/slackConnectorChart/global-stage-values.yaml
  development/kyma-slack-connector/slackConnectorChart/templates/function.yaml
  development/kyma-slack-connector/slackConnectorChart/values/releasecluster.created/prod-values.yaml
  development/kyma-slack-connector/slackConnectorChart/values/releasecluster.created/stage-values.yaml
Labels: approved, size/L, lgtm, area/tooling

#5216 Remove the broken link
  docs/prow/prow-installation-on-forks.md
Labels: area/documentation, size/XS, approved, lgtm, area/prow

#5219 Changed image tag for NATS image in image-syncer
  development/image-syncer/external-images.yaml
Labels: size/XS, approved, lgtm, area/tooling

#5222 Use correct keys for production Slack-connector helm chart
  development/kyma-slack-connector/slackConnectorChart/values/oomevent.found/prod-values.yaml
  development/kyma-slack-connector/slackConnectorChart/values/prowjob.failed/prod-values.yaml
Labels: size/XS, approved, lgtm, area/tooling

#5221 Use pubsub with rc clusters
  prow/jobs/kyma/releases/kyma-release-22.yaml
  prow/scripts/cluster-integration/kyma-gke-release-candidate.sh
  templates/data/kyma-release-data.yaml
Labels: size/XS, approved, lgtm, area/prow

#5202 Bump istio to 1.13.2
  development/image-syncer/external-images.yaml
Labels: size/XS, approved, lgtm, area/tooling

#5224 Use pubsub with rc clusters on release-2.1
  prow/jobs/kyma/releases/kyma-release-21.yaml
  prow/scripts/cluster-integration/kyma-gke-release-candidate.sh
  templates/data/kyma-release-data.yaml
Labels: approved, size/S, lgtm, area/prow

#5226 Use proper project for pubsub publish
  prow/jobs/kyma/releases/kyma-release-22.yaml
  prow/scripts/cluster-integration/kyma-gke-release-candidate.sh
  templates/data/kyma-release-data.yaml
Labels: size/XS, approved, lgtm, area/prow

#5213 Increase timeout for protecode guard
  prow/scripts/cluster-integration/protecode-guard.sh
Labels: size/XS, approved, lgtm, area/prow

#5231 Bumped NATS prometheus exporter image on image-syncer
  development/image-syncer/external-images.yaml
Labels: size/XS, approved, lgtm, area/tooling

#5230 Retry gardener shoot provisioning for reconciler
  prow/scripts/cluster-integration/helpers/reconciler.sh
Labels: approved, size/M, lgtm, area/prow

#5235 Bumped NATS prometheus exporter image 0.9.0 on image-syncer
  development/image-syncer/external-images.yaml
Labels: size/XS, approved, lgtm, area/tooling

#5236 Go Upgrade Leftovers
  prow/images/buildpack-golang/Makefile
  prow/images/kyma-integration/Dockerfile
  prow/images/test-untrusted-plugin/Dockerfile
  prow/images/whitesource-scanner/Dockerfile
  prow/scripts/cluster-integration/reconciler-component-integration.sh
Labels: approved, size/S, lgtm, area/prow

#5240 Fetch Istio version from Helm Chart
  prow/jobs/incubator/reconciler/reconciler.yaml
  prow/scripts/cluster-integration/helpers/integration-tests.sh
  prow/scripts/cluster-integration/reconciler-component-integration.sh
  prow/scripts/cluster-integration/reconciler-component-provision-gardener.sh
  prow/scripts/provision-vm-and-start-reconciler-component-integration-k3d.sh
  templates/data/incubator-buildpack-data.yaml
Labels: approved, size/M, lgtm, area/prow

#5249 Bumped NATS prometheus exporter image to 0.9.2 on image-syncer
  development/image-syncer/external-images.yaml
Labels: size/XS, approved, lgtm, area/tooling

#5251 Rendertemplate can append slices instead overwrite.
  development/tools/cmd/rendertemplates/main.go
  development/tools/pkg/rendertemplates/rendertemplates.go
Labels: approved, size/M, lgtm, area/tooling

#4730 Enable automerge for ci-prow-autobump-jobs job.
  prow/config.yaml
  prow/jobs/test-infra/prow-periodics.yaml
  prow/labels.yaml
  templates/data/prow-periodics-data.yaml
  templates/templates/prow-config.yaml
Labels: approved, size/M, lgtm, area/prow, area/templates, lifecycle/active

#5254 Fix missing tide queries
  prow/config.yaml
  templates/templates/prow-config.yaml
Labels: priority/critical, approved, size/S, lgtm, area/prow, area/templates, kind/bug

#5252 Edit stalebot configuration to allow comments with multiple lines
  .github/stale.yml
Labels: size/XS, approved, lgtm

#5187 fix spelling of prow jobs
  development/kyma-slack-connector/issueLabeledFunction/README.md
  development/prowjobparser/README.md
  development/tools/cmd/pjtester/README.md
  development/tools/cmd/rendertemplates/README.md
  docs/prow/README.md
  docs/prow/authorization.md
  docs/prow/crier.md
  docs/prow/presets.md
  docs/prow/production-cluster-configuration.md
  docs/prow/prow-architecture.md
  docs/prow/prow-installation-on-forks.md
  docs/prow/prow-jobs.md
  docs/prow/prow-k8s-testgrid.md
  docs/prow/prow-monitoring.md
  docs/prow/prow-naming-convention.md
  docs/prow/prow-secrets.md
  docs/prow/test-clusters.md
  prow/cluster/README.md
  prow/images/kyma-integration/README.md
  prow/scripts/resources/README.md
  stability-checker/README.md
Labels: area/documentation, approved, size/L, lgtm, area/prow, area/tooling

#5257 Fix labels
  prow/labels.yaml
Labels: size/XS, approved, lgtm, area/prow

#5261 Add file name to rendertemplates YAML parsing error message
  development/tools/cmd/rendertemplates/main.go
Labels: size/XS, approved, lgtm, area/tooling

#5258 bump postgres alpine image
  development/image-syncer/external-images.yaml
Labels: size/XS, approved, lgtm, area/tooling

#5265 pre-main-reconciler-integration-k3d trigger on go.mod or go.sum changes
  development/tools/jobs/incubator/reconciler/reconciler_test.go
  prow/jobs/incubator/reconciler/reconciler.yaml
  templates/data/incubator-buildpack-data.yaml
Labels: size/XS, approved, lgtm, area/prow, area/tooling

#5262 Bump k3d version for tests image
  development/custom-image/install-deps-debian.sh
Labels: size/XS, approved, lgtm, area/tooling

#5181 add unstable cli pipeline
  body.json
  prow/jobs/cli/cli.yaml
  templates/config.yaml
  templates/data/cli-data.yaml
  templates/data/incubator-buildpack-data.yaml
Labels: approved, size/M, lgtm, area/prow

#5244 Added helper function to mask secrets when bash option x is enabled.
  prow/scripts/cluster-integration/kyma-upgrade-gardener-kyma2-to-main.sh
  prow/scripts/lib/kyma.sh
  prow/scripts/lib/utils.sh
Labels: approved, size/M, lgtm, area/prow

#5185 Add a prow-job to run JetStream E2E fast integration tests
  prow/config.yaml
  prow/jobs/kyma/kyma-integration-gardener.yaml
  prow/scripts/cluster-integration/kyma-integration-gardener-eventing.sh
  prow/scripts/lib/gardener/gcp.sh
  templates/data/kyma-integration-gardener-data.yaml
  templates/templates/prow-config.yaml
  test-inventory-integration.md
Labels: approved, size/L, lgtm, area/prow, area/templates

#5268 Update slack and pubsub connectors values
  development/kyma-pubsub-connector/pubsubConnectorChart/global-prod-values.yaml
  development/kyma-slack-connector/slackConnectorChart/values/pullrequest.automerged/prod-values.yaml
Labels: area/ci, size/XS, approved, lgtm, area/tooling

#5285 Move serverless functions into separate repo
  development/kyma-slack-connector/slackConnectorChart/global-prod-values.yaml
  development/kyma-slack-connector/slackConnectorChart/global-stage-values.yaml
  development/kyma-slack-connector/slackConnectorChart/values/issuesevent.labeled/stage-values.yaml
  development/kyma-slack-connector/slackConnectorChart/values/oomevent.found/stage-values.yaml
  development/kyma-slack-connector/slackConnectorChart/values/prowjob.failed/stage-values.yaml
  development/kyma-slack-connector/slackConnectorChart/values/pullrequest.automerged/stage-values.yaml
  development/kyma-slack-connector/slackConnectorChart/values/releasecluster.created/stage-values.yaml
Labels: approved, size/S, lgtm, area/tooling

#5288 Remove GKE Integration prow jobs
  development/tools/jobs/incubator/compass/compass_gke_integration_test.go
  prow/jobs/incubator/compass/compass-gke-integration.yaml
  prow/scripts/cluster-integration/compass-gke-integration.sh
  templates/data/compass-gke-integration-data.yaml
Labels: approved, size/XXL, lgtm, area/prow, area/tooling

#5287 Reconciler debug
  prow/scripts/cluster-integration/kyma-upgrade-gardener-kyma2-to-main.sh
  prow/scripts/lib/gardener/gardener.sh
Labels: approved, size/S, lgtm, area/prow

#5289 bump golang-alpine to golang 1.18.1
  development/image-syncer/external-images.yaml
Labels: size/XS, approved, lgtm, area/tooling

#5272 Increase ssh server alive timeout
  prow/scripts/lib/utils.sh
  prow/scripts/provision-vm-and-start-busola-docker.sh
  prow/scripts/provision-vm-and-start-busola-k3s.sh
  prow/scripts/provision-vm-and-start-kyma-k3d.sh
  prow/scripts/provision-vm-and-start-kyma-minikube.sh
  prow/scripts/provision-vm-and-start-kyma-upgrade-k3d.sh
  prow/scripts/provision-vm-and-start-reconciler-component-integration-k3d.sh
  prow/scripts/provision-vm-and-start-reconciler-k3d.sh
  prow/scripts/provision-vm-and-start-serverless-k3s.sh
  prow/scripts/provision-vm-and-test-reconciler-with-cli-k3d.sh
  prow/scripts/reconciler-publish-unstable-cli.sh
Labels: approved, size/S, lgtm, area/prow, area/tooling, kind/bug

#5298 Remove deprecated Kyma 1 CLI job
  development/tools/jobs/cli/cli_integration_test.go
  prow/jobs/cli/cli-integration.yaml
  templates/data/cli-data.yaml
Labels: approved, size/M, lgtm, area/prow, area/tooling

#5303 Fix a broken anchor to GitHub documentation on creating a release
  development/tools/cmd/githubrelease/README.md
Labels: size/XS, approved, lgtm, area/tooling

#5304 Temporarily make app-connectivity compass job optional
  prow/jobs/kyma/kyma-integration.yaml
  templates/data/kyma-integration-data.yaml
Labels: size/XS, approved, lgtm, area/prow

#5305 Make need-tws plugin case insensitive
  development/external-plugins/needs-tws/plugin.go
Labels: size/XS, approved, lgtm, area/tooling

#5234 feat: re-implement kyma2 upgrade pipelines
  development/tools/jobs/kyma/kyma_gardener_integration_test.go
  prow/jobs/kyma/kyma-integration-gardener.yaml
  prow/scripts/cluster-integration/kyma-upgrade-gardener-kyma2-minor-versions.sh
  prow/scripts/cluster-integration/kyma-upgrade-k3d-kyma-to-kyma2.sh
  prow/scripts/lib/kyma.sh
  templates/config.yaml
  templates/data/kyma-integration-gardener-data.yaml
  test-inventory-integration.md
Labels: approved, size/L, lgtm, area/prow, area/tooling

#5325 Bump alpine to 3.15.4
  development/image-syncer/external-images.yaml
Labels: size/XS, approved, lgtm, area/tooling

#5318 Disable automerging without review
  prow/config.yaml
  templates/templates/prow-config.yaml
Labels: approved, size/M, lgtm, area/prow, area/tooling, area/templates

#5327 Prepare for Github workflow
  CODEOWNERS
Labels: approved, size/M, lgtm

#5331 Fix typo in CODEOWNERS
  CODEOWNERS
Labels: size/XS, approved, lgtm

#5320 Revert prow approval flow in cli
  development/tools/jobs/testinfra/branchprotector_test.go
  prow/config.yaml
  prow/plugins.yaml
  templates/templates/prow-config.yaml
Labels: area/ci, approved, size/S, lgtm, area/prow, area/tooling, area/templates

#5330 Revert prow approval flow in third-party-images
  prow/config.yaml
  prow/plugins.yaml
  templates/templates/prow-config.yaml
Labels: area/ci, approved, size/S, lgtm, area/prow, area/templates

#5329 Revert prow approval flow in test-infra
  development/tools/jobs/testinfra/branchprotector_test.go
  prow/config.yaml
  prow/plugins.yaml
  templates/templates/prow-config.yaml
Labels: area/ci, approved, size/S, lgtm, area/prow, area/tooling, area/templates

#5326 fix: kyma2 gardener minor versions upgrade
  prow/scripts/cluster-integration/kyma-upgrade-gardener-kyma2-minor-versions.sh
  prow/scripts/lib/kyma.sh
Labels: size/S, lgtm, area/prow

#5166 Add hydrator job definition
  development/tools/jobs/incubator/components_test.go
  prow/jobs/incubator/compass/components/hydrator/hydrator-generic.yaml
  templates/data/generic_component_compass_data.yaml
Labels: size/L, lgtm, area/prow, area/tooling

#5342 Bump Docker version
  prow/images/bootstrap/Dockerfile
  prow/images/kyma-integration/Dockerfile
Labels: area/ci, size/XS, lgtm, docker

#5332 Cleanup Gardener clusters
  prow/scripts/cluster-integration/kyma-integration-gardener-eventing-upgrade.sh
  prow/scripts/cluster-integration/kyma-integration-gardener-eventing.sh
  prow/scripts/cluster-integration/kyma-integration-gardener.sh
  prow/scripts/cluster-integration/kyma-upgrade-gardener-kyma2-minor-versions.sh
  prow/scripts/cluster-integration/kyma-upgrade-gardener-kyma2-to-main.sh
  prow/scripts/cluster-integration/reconciler-component-provision-gardener.sh
  prow/scripts/cluster-integration/reconciler-e2e-gardener.sh
  prow/scripts/cluster-integration/reconciler-periodic-main-kyma-incubator-reconciler-kyma1-kyma2-upgrade.sh
Labels: approved, size/S, lgtm, area/prow

#5339 fix: upgrade pipeline looks for previous minor's latest patch
  development/tools/jobs/kyma/kyma_gardener_integration_test.go
  prow/jobs/kyma/kyma-integration-gardener.yaml
  prow/scripts/lib/kyma.sh
  templates/config.yaml
Labels: size/M, lgtm

#5198 New fast-integration test skr-without-sc-integration-dev
  prow/jobs/kyma/skr-without-sc-intgration.yaml
  prow/scripts/skr-without-sc-intgration.sh
  templates/data/skr-without-sc-integration-dev.yaml
Labels: size/L, lgtm, area/prow

#5338 Fix CODEOWNERS
  CODEOWNERS
Labels: size/L, lgtm

#5351 fix cleanup for pre-main-control-plane-reconciler-e2e
  prow/scripts/cluster-integration/reconciler-e2e-gardener.sh
Labels: size/XS, lgtm

#5352 Update Compass CODEOWNERS
  CODEOWNERS
Labels: size/XS, lgtm

#5354 Bump milv
  prow/scripts/governance.sh
Labels: size/XS, lgtm

#5355 Fix post-main-istio-reconciler-integration job
  prow/jobs/incubator/reconciler/reconciler.yaml
  templates/data/incubator-buildpack-data.yaml
Labels: size/XS, lgtm

#5353 chore: remove periodic e2e pipeline kyma1 to kyma2 upgrade
  development/tools/jobs/incubator/reconciler/reconciler_test.go
  prow/jobs/incubator/reconciler/reconciler.yaml
  prow/scripts/cluster-integration/reconciler-periodic-main-kyma-incubator-reconciler-kyma1-kyma2-upgrade.sh
  templates/data/incubator-buildpack-data.yaml
Labels: size/L, lgtm
