Repository kyma-project/test-infra, pull requests merged in 2022-02, with the labels that each got.

#4855 Add gitserver job
  prow/jobs/kyma/tools/gitserver/gitserver-generic.yaml
  templates/data/generic_component_data.yaml
Labels: approved, size/L, lgtm, area/prow

#4856 Bump image of wss-agent
  prow/images/whitesource-scanner/Dockerfile
  prow/images/whitesource-scanner/README.md
Labels: size/XS, approved, lgtm, area/prow

#4858 Revert "make governance job optional (#4847)"
  prow/jobs/governance.yaml
  templates/data/governance-data.yaml
Labels: size/XS, approved, lgtm, area/prow

#4860 Update jaeger image to latest 1.30.0
  development/image-syncer/external-images.yaml
Labels: size/XS, approved, lgtm, area/tooling

#4859 Add busola-e2e-cleaner
  prow/jobs/third-party-images/third-party-images.yaml
  templates/data/third-party-images-data.yaml
Labels: approved, size/L, lgtm, area/prow

#4837 2.0 Generic Upgrade Tests
  prow/jobs/kyma/skr-kyma-to-kyma2-upgrade-aws.yaml
  templates/data/skr-kyma-to-kyma2-upgrade-aws-data.yaml
Labels: size/XS, approved, lgtm, area/prow

#4865 Use unstable=true instead of stable=false
  prow/config.yaml
  templates/templates/prow-config.yaml
Labels: size/XS, approved, lgtm, area/prow, area/templates

#4868 Fix jobs
  prow/scripts/cluster-integration/helpers/reconciler.sh
  prow/scripts/cluster-integration/kyma-integration-gardener-eventing.sh
  prow/scripts/cluster-integration/kyma-integration-gardener.sh
  prow/scripts/cluster-integration/kyma-upgrade-gardener-kyma-to-kyma2.sh
  prow/scripts/cluster-integration/kyma-upgrade-gardener-kyma2-to-main.sh
  prow/scripts/lib/kyma.sh
Labels: approved, size/M, lgtm, area/prow

#4869 add pjtester
  prow/scripts/cluster-integration/helpers/reconciler.sh
Labels: size/XS, approved, lgtm, area/prow

#4870 Revert "Add busola-e2e-cleaner"
  prow/jobs/third-party-images/third-party-images.yaml
  templates/data/third-party-images-data.yaml
Labels: approved, size/L, lgtm, area/prow

#4871 fixing pipeline error
  prow/scripts/cluster-integration/kyma-upgrade-gardener-kyma2-to-main.sh
Labels: size/XS, approved, lgtm, area/prow

#4873 print out mothership reconciler image
  prow/scripts/cluster-integration/helpers/reconciler.sh
Labels: size/XS, approved, lgtm, area/prow

#4817 make rendertemplates work with recursive data files
  development/tools/cmd/rendertemplates/main.go
Labels: approved, size/M, lgtm, area/tooling

#4841 Recheck CLA Assistant status plugin
  development/external-plugins/cla-assistant/main.go
  development/external-plugins/cla-assistant/main_test.go
  prow/cluster/components/cla-assistant_external-plugin.yaml
  prow/images/cla-assistant-external-plugin/Dockerfile
  prow/plugins.yaml
Labels: approved, size/L, lgtm, area/prow, area/tooling

#4883 Fix Gardener integration jobs
  prow/scripts/cluster-integration/kyma-integration-gardener.sh
Labels: size/XS, approved, lgtm, area/prow, kind/bug

#4877 Add busola-e2e-cleaner
  prow/scripts/cluster-integration/kyma-busola-long-lasting.sh
Labels: size/XS, approved, lgtm, area/prow

#4884 Fix Upgrade Gardener Pipelines
  prow/scripts/cluster-integration/kyma-upgrade-gardener-kyma-to-kyma2.sh
  prow/scripts/cluster-integration/kyma-upgrade-gardener-kyma2-to-main.sh
Labels: size/XS, approved, lgtm, area/prow

#4879 Make pre main control plane reconciler e2e optional
  development/tools/jobs/control-plane/control_plane_reconciler_integration_test.go
  prow/jobs/control-plane/control-plane-reconciler-integration.yaml
  templates/data/control-plane-integration-data.yaml
Labels: size/XS, approved, lgtm, area/prow, area/tooling

#4861 Adjust test-infra to the new location of the `serverless-bench` and the `fixtures` directories
  development/tools/jobs/kyma/tests_test.go
  development/tools/jobs/third-party-images/serverless_bench_test.go
  prow/jobs/kyma/tests/serverless-bench/OWNERS
  prow/jobs/kyma/tests/serverless-bench/serverless-bench-generic.yaml
  prow/jobs/third-party-images/third-party-images.yaml
  prow/scripts/cluster-integration/fixtures/functions/nodejs14-l.yaml
  prow/scripts/cluster-integration/fixtures/functions/nodejs14-m.yaml
  prow/scripts/cluster-integration/fixtures/functions/nodejs14-s.yaml
  prow/scripts/cluster-integration/fixtures/functions/nodejs14-xl.yaml
  prow/scripts/cluster-integration/fixtures/functions/nodejs14-xs.yaml
  prow/scripts/cluster-integration/fixtures/functions/python39-l.yaml
  prow/scripts/cluster-integration/fixtures/functions/python39-m.yaml
  prow/scripts/cluster-integration/fixtures/functions/python39-s.yaml
  prow/scripts/cluster-integration/fixtures/functions/python39-xl.yaml
  prow/scripts/cluster-integration/fixtures/serverless-benchmark-job.yaml
  prow/scripts/cluster-integration/kyma-serverless-benchmarks-nightly.sh
  templates/data/generic_component_data.yaml
  templates/data/third-party-images-data.yaml
Labels: size/XL, approved, lgtm, area/prow, area/tooling

#4892 Provision Postgres for test pipeline
  prow/scripts/cluster-integration/reconciler-integration-k3d.sh
Labels: approved, size/M, lgtm, area/prow

#4885 cluster-admin kubeconfig generation login for release GKE cluster
  prow/scripts/cluster-integration/kyma-gke-release-candidate.sh
Labels: approved, size/M, lgtm, area/prow

#4894 Ignore logr
  .github/dependabot.yml
  templates/data/dependabot-config-data.yaml
  templates/templates/dependabot.tmpl
Labels: approved, size/S, lgtm, area/templates

#4904 Fix jwt go sec alert
  development/gcp/cloud-functions/getfailureinstancedetails/getfailureinstancedetails.go
  development/gcp/cloud-functions/getfailureinstancedetails/go.mod
  development/gcp/cloud-functions/getfailureinstancedetails/go.sum
Labels: size/XL, approved, lgtm, area/tooling

#4901 Fix security alert for oomfinder
  development/tools/cmd/oomfinder/go.mod
  development/tools/cmd/oomfinder/go.sum
  go.mod
  go.sum
Labels: approved, size/XXL, lgtm, area/tooling

#4903 Adjust whiteource unified agent config for scan language `golang-mod`
  prow/scripts/cluster-integration/helpers/start-wssagent.sh
Labels: approved, size/S, lgtm, area/prow

#4909 Fix whitesource Go mod scan
  prow/scripts/cluster-integration/helpers/start-wssagent.sh
Labels: size/XS, approved, lgtm, area/prow, kind/bug

#4750 Add various kind/ labels.
  prow/labels.yaml
Labels: approved, size/M, lgtm, area/prow

#4913 Fix Kyma cli install function
  prow/scripts/lib/kyma.sh
Labels: size/XS, approved, lgtm, area/prow

#4910 Fix failing Whitesoruce scan job
  prow/scripts/cluster-integration/helpers/start-wssagent.sh
Labels: size/XS, approved, lgtm, area/prow

#4914 Fix labels.yaml unmarshal issue
  prow/labels.yaml
Labels: size/XS, approved, lgtm, area/prow

#4918 Exclude exact version
  .github/dependabot.yml
  templates/data/dependabot-config-data.yaml
Labels: size/XS, approved, lgtm

#4924 Exclude all versions
  .github/dependabot.yml
  templates/data/dependabot-config-data.yaml
Labels: approved, size/S, lgtm

#4932 Adjust go.modules configurations for WS Unified Agent
  prow/scripts/cluster-integration/helpers/start-wssagent.sh
Labels: size/XS, approved, lgtm, area/prow

#4931 Remove testgrid dashboard generation
  prow/jobs/test-infra/testgrid-automation.yaml
  templates/config.yaml
  templates/data/testgrid-automation-data.yaml
Labels: approved, size/L, lgtm, area/prow

#4923 Set the right value for the `release_since` label for the serverless-bench
  prow/jobs/kyma/tests/serverless-bench/serverless-bench-generic.yaml
  templates/data/generic_component_data.yaml
Labels: approved, size/L, lgtm, area/prow

#4919 Dockerfile-kyma-linting-job
  prow/jobs/kyma/kyma-validation.yaml
  templates/data/kyma-validation-data.yaml
Labels: approved, size/M, lgtm, area/prow

#4933 Add a new pipeline for testing latest k8s version on k3d
  prow/jobs/kyma/kyma-integration.yaml
  prow/scripts/cluster-integration/kyma-integration-k3d.sh
  prow/scripts/provision-vm-and-start-kyma-k3d.sh
  templates/data/kyma-integration-data.yaml
  test-inventory-integration.md
Labels: approved, size/M, lgtm, area/prow, area/templates

#4912 Remove everything related to Application Operator
  development/test-log-collector/chart/test-log-collector/files/config.yaml
  development/tools/jobs/kyma/components_test.go
  development/tools/jobs/kyma/tests_test.go
  prow/jobs/kyma/components/application-connectivity-validator/OWNERS
  prow/jobs/kyma/components/application-connectivity-validator/application-connectivity-validator-generic.yaml
  prow/jobs/kyma/components/application-gateway/OWNERS
  prow/jobs/kyma/components/application-gateway/application-gateway-generic.yaml
  prow/jobs/kyma/components/application-operator/OWNERS
  prow/jobs/kyma/components/application-operator/application-operator-generic.yaml
  prow/jobs/kyma/tests/application-gateway-legacy-tests/OWNERS
  prow/jobs/kyma/tests/application-gateway-legacy-tests/application-gateway-legacy-tests-generic.yaml
  prow/jobs/kyma/tests/application-gateway-tests/OWNERS
  prow/jobs/kyma/tests/application-gateway-tests/application-gateway-tests-generic.yaml
  prow/jobs/kyma/tests/application-operator-tests/OWNERS
  prow/jobs/kyma/tests/application-operator-tests/application-operator-tests-generic.yaml
  templates/data/generic_component_data.yaml
Labels: approved, size/XXL, lgtm, area/prow, area/tooling

#4942 Update external secrets names
  prow/cluster/resources/external-secrets/external_secrets_trusted.yaml
  prow/cluster/resources/external-secrets/external_secrets_workloads.yaml
Labels: approved, size/M, lgtm, area/prow

#4952 update to alpine 3.15.0
  development/image-syncer/external-images.yaml
Labels: size/XS, approved, lgtm, area/tooling

#4944 Update kubectl version
  development/custom-image/install-deps-debian.sh
Labels: size/XS, approved, lgtm, area/tooling

#4934 Introduce integration tests for Istio component on main Kyma
  prow/jobs/incubator/reconciler/reconciler.yaml
  prow/scripts/cluster-integration/reconciler-component-integration.sh
  templates/data/incubator-buildpack-data.yaml
Labels: approved, size/L, lgtm, area/prow

#4955 Add reconciler dockerfile validation job
  prow/jobs/incubator/reconciler/reconciler.yaml
  templates/data/incubator-buildpack-data.yaml
Labels: approved, size/M, lgtm, area/prow

#4963 Update stale.yml
  .github/stale.yml
  prow/labels.yaml
Labels: area/ci, approved, size/M, lgtm, area/prow, kind/cleanup

#4969 Cleanup long-lasting clusters
  prow/jobs/kyma/releases/kyma-release-124.yaml
Labels: approved, size/L, lgtm, area/prow

#4958 Bump Kyma to 1.24.10 on long-lasting clusters
  prow/scripts/cluster-integration/kyma-aks-long-lasting.sh
  prow/scripts/cluster-integration/kyma-gke-long-lasting.sh
Labels: size/XS, approved, lgtm, area/prow

#4961 Update jobs to use the 1.21 k8s server version
  prow/config.yaml
  prow/images/bootstrap/Dockerfile
  prow/scripts/resources/busola/cluster-busola.yaml
  prow/scripts/resources/busola/cluster-kyma.yaml
  prow/scripts/resources/reconciler/shoot-template.yaml
  templates/templates/prow-config.yaml
Labels: approved, size/S, lgtm, area/prow, area/templates

#4977 Do not require data directory
  development/tools/cmd/rendertemplates/main.go
Labels: approved, size/M, lgtm, area/tooling

#4970 Add Istio integration pipelines on latest Kyma
  prow/jobs/incubator/reconciler/reconciler.yaml
  prow/scripts/cluster-integration/reconciler-component-integration.sh
  prow/scripts/provision-vm-and-start-reconciler-component-integration-k3d.sh
  templates/data/incubator-buildpack-data.yaml
Labels: approved, size/L, lgtm, area/prow

#4980 use k8s 1.22 for the preview job
  prow/jobs/kyma/kyma-integration.yaml
  templates/data/kyma-integration-data.yaml
Labels: size/XS, approved, lgtm, area/prow

#4982 pre and post jobs for image build mock reconciler
  prow/jobs/incubator/reconciler/reconciler.yaml
  templates/data/incubator-buildpack-data.yaml
Labels: approved, size/L, lgtm, area/prow

#4983 Fix run_if_changed for Istio pipelines
  prow/jobs/incubator/reconciler/reconciler.yaml
  templates/data/incubator-buildpack-data.yaml
Labels: approved, size/S, lgtm, area/prow

#4936 Parameterize Eventing Prow jobs to use feature flags
  prow/config.yaml
  prow/scripts/cluster-integration/kyma-integration-gardener-eventing-upgrade.sh
  prow/scripts/cluster-integration/kyma-integration-gardener-eventing.sh
  prow/scripts/lib/gardener/gcp.sh
  templates/templates/prow-config.yaml
Labels: approved, size/M, lgtm, area/prow, area/templates

#4994 Hardcode last release version to 1.24.10
  prow/scripts/cluster-integration/kyma-gke-upgrade.sh
Labels: size/XS, approved, lgtm

#4989 Check only org members
  development/github/pkg/client/client.go
  development/prow/prowjobs.go
  development/tools/cmd/usersmapchecker/main.go
  go.mod
  go.sum
  prow/jobs/test-infra/kyma-bot.yaml
  templates/data/kyma-bot-data.yaml
Labels: approved, size/M, lgtm, area/prow, area/tooling

#4993 Protect reconciler branch
  prow/config.yaml
  templates/templates/prow-config.yaml
Labels: size/XS, approved, lgtm, area/prow, area/templates

#4998 Adjust run_if_changed for Istio pipelines
  prow/jobs/incubator/reconciler/reconciler.yaml
  templates/data/incubator-buildpack-data.yaml
Labels: approved, size/S, lgtm, area/prow

#4999 Move dockerfile matching out of first group
  prow/jobs/incubator/reconciler/reconciler.yaml
  templates/data/incubator-buildpack-data.yaml
Labels: approved, size/S, lgtm, area/prow

#5000 Backport kyma::get_last_release_version to release-1.24
  prow/scripts/cluster-integration/kyma-gke-upgrade.sh
  prow/scripts/cluster-integration/kyma-upgrade-gardener-azure.sh
  prow/scripts/cluster-integration/kyma-upgrade-gardener.sh
  prow/scripts/lib/kyma.sh
Labels: approved, size/M, lgtm, area/prow

#5001 Bump long lasting Kyma version in release-1.24
  prow/scripts/cluster-integration/kyma-aks-long-lasting.sh
  prow/scripts/cluster-integration/kyma-gke-long-lasting.sh
Labels: size/XS, approved, lgtm, area/prow

#5005 Fix unexpected reconcilation timeout
  prow/scripts/cluster-integration/reconciler-e2e-gardener.sh
Labels: size/XS, approved, lgtm, area/prow

#4997 Added pre-submit job for reconciler e2e on kyma latest-release in control-plane PRs
  development/tools/jobs/control-plane/control_plane_reconciler_integration_test.go
  prow/jobs/control-plane/control-plane-reconciler-integration.yaml
  prow/scripts/cluster-integration/reconciler-e2e-gardener.sh
  templates/data/control-plane-integration-data.yaml
Labels: approved, size/M, lgtm, area/prow, area/tooling

#4908 Telemetry operator tests - Remove mockserver provisioning
  development/image-syncer/external-images.yaml
  prow/scripts/cluster-integration/kyma-integration-k3d.sh
Labels: approved, size/S, lgtm, area/prow, area/tooling

#5007 Exclude recon wkly from cleaner job
  development/tools/jobs/kyma/kyma_gardener_cleanup_test.go
  prow/jobs/kyma/kyma-gardener-cleanup.yaml
  templates/data/kyma-gardener-cleanup-data.yaml
Labels: size/XS, approved, lgtm, area/prow, area/tooling

#5008 Specify k8s version for compass gke tests cluster
  development/tools/jobs/incubator/compass/compass_gke_integration_test.go
  prow/jobs/incubator/compass/compass-gke-integration.yaml
  templates/data/compass-gke-integration-data.yaml
Labels: approved, size/S, lgtm, area/prow, area/tooling

#5010 add golang 1.17.7
  development/image-syncer/external-images.yaml
Labels: area/security, area/ci, size/XS, approved, lgtm, area/tooling

#5011 Specify k8s version for benchmark tests
  prow/jobs/incubator/compass/compass-gke-benchmark.yaml
  templates/data/compass-gke-benchmark-data.yaml
Labels: approved, size/S, lgtm, area/prow

#5006 Determine latest 2.x version of Kyma in reconciler component pipelines
  prow/jobs/incubator/reconciler/reconciler.yaml
  prow/scripts/cluster-integration/reconciler-component-provision-gardener.sh
  prow/scripts/provision-vm-and-start-reconciler-component-integration-k3d.sh
  templates/data/incubator-buildpack-data.yaml
Labels: approved, size/S, lgtm, area/prow

#5013 bump isito to 1.12.3
  development/image-syncer/external-images.yaml
Labels: size/XS, approved, lgtm, area/tooling

#5016 Remove `octopus-whitesource-scan` job
  prow/jobs/scans/whitesource-periodics.yaml
  templates/data/whitesource-periodics-data.yaml
Labels: approved, size/M, lgtm, area/prow

#4966 Add pre-submit job for reconciler to verify upgrading Kyma2 latest to Kyma2 main
  development/tools/jobs/control-plane/control_plane_reconciler_upgrade_test.go
  prow/jobs/control-plane/control-plane-reconciler-upgrade-kyma2-latest-to-main-gardener.yaml
  prow/scripts/cluster-integration/reconciler-upgrade-kyma2-latest-to-main-gardener.sh
  templates/data/control-plane-integration-data.yaml
Labels: approved, size/L, lgtm, area/prow, area/tooling

#5020 Switch whitesource kyma-mod and cli jobs to release-2.0
  prow/jobs/scans/whitesource-periodics.yaml
  templates/data/whitesource-periodics-data.yaml
Labels: size/XS, approved, lgtm, area/prow

#5018 Fix reconciler components pipeline
  prow/jobs/incubator/reconciler/reconciler.yaml
  prow/scripts/cluster-integration/reconciler-component-integration.sh
  templates/data/incubator-buildpack-data.yaml
Labels: approved, size/S, lgtm, area/prow
