Repository kyma-project/test-infra, pull requests merged in 2022-03, with the labels that each got.

#5035 Revert fixed k8s version for compass gke and benchmark tests
  development/tools/jobs/incubator/compass/compass_gke_integration_test.go
  prow/jobs/incubator/compass/compass-gke-benchmark.yaml
  prow/jobs/incubator/compass/compass-gke-integration.yaml
  templates/data/compass-gke-benchmark-data.yaml
  templates/data/compass-gke-integration-data.yaml
Labels: approved, size/M, lgtm, area/prow, area/tooling

#5031 Dev branch reconciler
  development/tools/jobs/kyma/kyma_gardener_integration_test.go
  prow/jobs/kyma/kyma-integration-gardener.yaml
  prow/jobs/scans/protecode-guard.yaml
  prow/scripts/cluster-integration/helpers/reconciler.sh
  prow/scripts/cluster-integration/kyma-upgrade-gardener-kyma-to-kyma2.sh
  prow/scripts/cluster-integration/kyma-upgrade-gardener-kyma2-to-main.sh
  prow/scripts/cluster-integration/kyma-upgrade-k3d-kyma-to-kyma2.sh
  prow/scripts/cluster-integration/kyma-upgrade-k3d-kyma2-to-main.sh
  prow/scripts/cluster-integration/reconciler-gardener-long-lasting.sh
  templates/data/kyma-integration-gardener-data.yaml
  templates/data/protecode-guard-data.yaml
  test-inventory-integration.md
Labels: approved, size/L, lgtm, area/prow, area/tooling

#4960 Fixes for upgrade tests 2.0.4 -> 2.1
  prow/jobs/kyma/kyma-integration-gardener.yaml
  prow/scripts/cluster-integration/kyma-upgrade-gardener-kyma2-to-main.sh
  prow/scripts/cluster-integration/kyma-upgrade-k3d-kyma2-to-main.sh
  prow/scripts/lib/kyma.sh
  templates/config.yaml
  templates/data/kyma-integration-gardener-data.yaml
Labels: approved, size/L, lgtm, area/prow

#5038 Fix the `serverless-integration-k3s` test
  prow/scripts/cluster-integration/serverless-integration-k3s.sh
Labels: size/XS, approved, lgtm, area/prow

#5040 Fix whitesource regex
  prow/scripts/cluster-integration/helpers/start-wssagent.sh
Labels: size/XS, approved, lgtm, area/prow

#5044 Remove clonerefs prowjobs
  prow/jobs/test-infra/buildpack.yaml
  templates/data/buildpack-data.yaml
Labels: area/ci, approved, size/L, lgtm, area/prow

#5047 bug fixing: nightly main reconciler e2e can't connect to cluster
  prow/scripts/cluster-integration/helpers/reconciler.sh
  prow/scripts/cluster-integration/reconciler-e2e-nightly-gardener.sh
  prow/scripts/cluster-integration/reconciler-gardener-long-lasting.sh
Labels: approved, size/S, lgtm, area/prow

#5056 exclude rec-main job
  development/tools/jobs/kyma/kyma_gardener_cleanup_test.go
  prow/jobs/kyma/kyma-gardener-cleanup.yaml
  templates/data/kyma-gardener-cleanup-data.yaml
Labels: size/XS, approved, lgtm, area/prow, area/tooling

#5064 Renamed migration script
  prow/scripts/cluster-integration/kyma-upgrade-gardener-kyma2-to-main.sh
  prow/scripts/cluster-integration/kyma-upgrade-k3d-kyma2-to-main.sh
Labels: size/XS, approved, lgtm, area/prow

#5065 Fix entrypoints for Prow images
  prow/jobs/test-infra/branchprotector.yaml
  prow/jobs/test-infra/prow-periodics.yaml
  prow/jobs/test-infra/validation.yaml
  prow/staging/jobs/test-infra-jobs.yaml
  templates/data/prow-periodics-data.yaml
  templates/data/validation-data.yaml
Labels: approved, size/S, lgtm, area/prow, kind/bug

#5051 Increase jobguard timeout of compass jobs
  prow/scripts/cluster-integration/compass-gke-benchmark.sh
  prow/scripts/cluster-integration/compass-gke-integration.sh
  prow/scripts/provision-vm-compass.sh
Labels: size/XS, approved, lgtm, area/prow

#5075 Fix Istioctl version in the pipelines
  prow/scripts/cluster-integration/reconciler-component-integration.sh
  prow/scripts/cluster-integration/reconciler-component-provision-gardener.sh
  prow/scripts/provision-vm-and-start-reconciler-component-integration-k3d.sh
Labels: approved, size/S, lgtm, area/prow

#5084 Update OWNER_ALIASES
  OWNERS_ALIASES
Labels: approved, size/L, lgtm

#5063 Pre-main job to build a kyma-cli based on cli:main and reconciler:PR
  prow/config.yaml
  prow/jobs/incubator/reconciler/reconciler.yaml
  prow/scripts/reconciler-publish-pr-cli.sh
  templates/data/incubator-buildpack-data.yaml
  templates/templates/prow-config.yaml
Labels: approved, size/L, lgtm, area/prow, area/templates

#5086 Install yq in bootstrap image
  prow/images/bootstrap/Dockerfile
Labels: size/XS, approved, lgtm, area/prow

#5093 Replace log withe echo in VM script
  prow/scripts/cluster-integration/reconciler-integration-k3d.sh
Labels: approved, size/S, lgtm, area/prow

#5052 Refactor integration tests with new istio helm chart
  prow/scripts/cluster-integration/reconciler-component-integration.sh
Labels: approved, size/S, lgtm, area/prow

#5083 Skip monitoring tests in reconciler major upgrade pipeline
  prow/jobs/incubator/reconciler/reconciler.yaml
  templates/data/incubator-buildpack-data.yaml
Labels: size/XS, approved, lgtm, area/prow

#5095 Add missing / in postgresql installation
  development/custom-image/install-deps-debian.sh
Labels: size/XS, approved, lgtm, area/tooling

#5097 Fix installation logic for postgresql and migrate
  development/custom-image/install-deps-debian.sh
Labels: size/XS, approved, lgtm, area/tooling

#5100 Delete pipelines related with the `minio-mc`
  development/tools/jobs/third-party-images/minio_mc_test.go
  prow/jobs/third-party-images/third-party-images.yaml
  templates/data/third-party-images-data.yaml
Labels: approved, size/L, lgtm, area/prow, area/tooling

#5078 Pre-main jobs for reconciler PR with cli:main
  prow/jobs/incubator/reconciler/reconciler.yaml
  prow/scripts/cluster-integration/reconciler-integration-with-cli-k3d.sh
  prow/scripts/provision-vm-and-test-reconciler-with-cli-k3d.sh
  templates/data/incubator-buildpack-data.yaml
Labels: approved, size/L, lgtm, area/prow

#5104 Make protecode jobs optional
  prow/jobs/scans/protecode-guard.yaml
  templates/data/protecode-guard-data.yaml
Labels: size/XS, approved, lgtm, area/prow

#5103 Compass gke tests overrides
  prow/scripts/cluster-integration/compass-gke-benchmark.sh
  prow/scripts/cluster-integration/compass-gke-integration.sh
Labels: approved, size/L, lgtm, area/prow

#5113 Sync natsio/nats-server-config-reloader:0.6.3 image to Kyma registry
  development/image-syncer/external-images.yaml
Labels: size/XS, approved, lgtm, area/tooling

#5119 Sync nats:2.7.4-alpine image
  development/image-syncer/external-images.yaml
Labels: size/XS, approved, lgtm, area/tooling

#5106 Make protecode jobs required
  prow/jobs/scans/protecode-guard.yaml
  templates/data/protecode-guard-data.yaml
Labels: size/XS, approved, lgtm, area/prow

#5114 Remove old Whitesource jobs
  prow/config.yaml
  prow/jobs/scans/whitesource-periodics-new.yaml
  prow/jobs/scans/whitesource-periodics.yaml
  templates/data/whitesource-periodics-data-new.yaml
  templates/data/whitesource-periodics-data.yaml
  templates/templates/prow-config.yaml
  templates/templates/whitesource-periodics-new.tmpl
  templates/templates/whitesource-periodics.tmpl
Labels: approved, size/XXL, lgtm, area/prow, area/templates

#5062 Parallelise busola tests
  prow/jobs/busola/integration-k3s-test.yaml
  prow/scripts/cluster-integration/busola-integration-test-k3s.sh
  prow/scripts/provision-vm-and-start-busola-k3s.sh
  templates/data/busola-integration-test-k3s-cluster-data.yaml
  templates/data/busola-integration-test-k3s-namespace-data.yaml
Labels: approved, size/L, lgtm, area/prow

#5128 Set the debug mode on the periodic kyma-integration-k3d job
  prow/jobs/kyma/kyma-integration.yaml
  templates/data/kyma-integration-data.yaml
Labels: size/XS, approved, lgtm, area/prow

#5129 Add golang 1.17.8-alpine3.15 image
  development/image-syncer/external-images.yaml
Labels: size/XS, approved, lgtm, area/tooling

#5096 Update k3d-compass-components.yaml
  prow/scripts/cluster-integration/kyma-integration-k3d-compass-components.yaml
Labels: size/XS, approved, lgtm, area/prow

#5102 Pre-main upgrade job for reconciler PR with cli:main
  prow/jobs/incubator/reconciler/reconciler.yaml
  prow/scripts/cluster-integration/reconciler-integration-with-cli-upgrade-k3d.sh
  prow/scripts/lib/kyma.sh
  prow/scripts/lib/utils.sh
  prow/scripts/provision-vm-and-test-reconciler-with-cli-k3d.sh
  templates/data/incubator-buildpack-data.yaml
Labels: approved, size/L, lgtm, area/prow

#5127 Execute migration script on upgrade
  prow/scripts/cluster-integration/kyma-gke-release-candidate.sh
  prow/scripts/cluster-integration/reconciler-upgrade-kyma2-latest-to-main-gardener.sh
  prow/scripts/lib/gardener/aws.sh
  prow/scripts/lib/gardener/azure.sh
  prow/scripts/lib/gardener/gcp.sh
Labels: approved, size/S, lgtm, area/prow

#5132 Go Minor Version Upgrade
  prow/images/buildpack-golang/Dockerfile
  prow/images/buildpack-golang/Makefile
  prow/images/buildpack-golang/README.md
  prow/images/debug-commando/Dockerfile
  prow/images/kyma-integration/Dockerfile
  prow/images/test-untrusted-plugin/Dockerfile
  prow/images/whitesource-scanner/Dockerfile
  prow/scripts/cluster-integration/reconciler-component-integration.sh
  prow/scripts/cluster-integration/reconciler-integration-k3d.sh
Labels: approved, size/S, lgtm, area/prow

#5133 Improved reconciler with cli jobs to reuse helper functions
  prow/scripts/cluster-integration/reconciler-integration-with-cli-k3d.sh
Labels: approved, size/M, lgtm, area/prow

#5135 Delete the debug mode on the periodic kyma-integration-k3d job
  prow/jobs/kyma/kyma-integration.yaml
  templates/data/kyma-integration-data.yaml
Labels: size/XS, approved, lgtm, area/prow

#5136 Use different funcs to stay consistent in Reconciler pipelines
  prow/scripts/cluster-integration/helpers/reconciler.sh
  prow/scripts/cluster-integration/reconciler-e2e-nightly-gardener.sh
Labels: approved, size/S, lgtm, area/prow

#5131 Fix failing Whitesource jobs
  prow/config.yaml
  prow/jobs/control-plane/tests/provisioner-tests/provisioner-whitesource.yaml
  templates/data/control-plane-whitesource.yaml
  templates/templates/prow-config.yaml
Labels: approved, size/L, lgtm, area/prow, area/templates

#5138 Bump Azure cli version
  prow/images/kyma-integration/Dockerfile
Labels: size/XS, approved, lgtm, area/prow

#5079 delete scripts/minikube-test.sh
  prow/scripts/minikube-test.sh
Labels: approved, size/L, lgtm, area/prow

#5142 Enable additional plugins for Kyma organizations
  prow/plugins.yaml
Labels: approved, size/S, lgtm, area/prow

#5101 Lighthouse Busola
  prow/jobs/busola/lighthouse.yaml
  prow/scripts/cluster-integration/busola-lighthouse.sh
  prow/scripts/provision-vm-and-start-busola-lighthouse.sh
  templates/data/busola-lighthouse.yaml
Labels: approved, size/L, lgtm, area/prow

#5144 Bump zap
  development/image-syncer/before-commit.sh
  development/image-url-helper/before-commit.sh
  development/kyma-ci-force-bot/ciforcebot/before-commit.sh
  development/kyma-github-connector/githubWebhookGateway/before-commit.sh
  development/kyma-pubsub-connector/pubSubGateway/before-commit.sh
  development/prow-installer/before-commit.sh
  development/prowjobparser/before-commit.sh
  go.mod
  go.sum
  stability-checker/before-commit.sh
Labels: approved, size/S, lgtm, area/tooling

#5146 Enable approve plugin for kyma-incubator/compass
  prow/config.yaml
  prow/plugins.yaml
  templates/templates/prow-config.yaml
Labels: approved, size/M, lgtm, area/prow, area/templates

#5150 Add ammarlakis to tooling approvers
  OWNERS_ALIASES
Labels: size/XS, approved, lgtm

#4834 Refactor skr eventing job
  prow/jobs/kyma/kyma-integration-gardener.yaml
  prow/scripts/cluster-integration/helpers/eventing.sh
  prow/scripts/cluster-integration/kyma-integration-skr-eventing.sh
  templates/data/kyma-integration-gardener-data.yaml
Labels: approved, size/M, lgtm, area/prow, area/tooling, area/templates

#5149 Use util function in Gardener scripts
  prow/scripts/cluster-integration/kyma-integration-gardener-eventing.sh
  prow/scripts/cluster-integration/kyma-integration-gardener.sh
Labels: approved, size/M, lgtm, area/prow

#5152 Fix istio configuration in kyma GKE RC and long-running clusters
  prow/scripts/cluster-integration/kyma-gke-long-lasting.sh
  prow/scripts/cluster-integration/kyma-gke-release-candidate.sh
  prow/scripts/cluster-integration/reconciler-component-integration.sh
Labels: approved, size/S, lgtm, area/prow, kind/bug

#5159 Add `approve` configuration for kyma and compass
  prow/plugins.yaml
Labels: approved, size/S, lgtm, area/prow

#5164 Remove hardcoded Kyma Version
  prow/jobs/kyma/skr-kyma-to-kyma2-upgrade-aws.yaml
  templates/data/skr-kyma-to-kyma2-upgrade-aws-data.yaml
Labels: size/XS, approved, lgtm, area/prow

#5160 Labels update
  prow/labels.yaml
Labels: approved, size/L, lgtm, area/prow

#5161 Go Upgrade - 1.18
  Makefile
  development/image-syncer/external-images.yaml
  development/prow-installer/before-commit.sh
  prow/images/buildpack-golang/Dockerfile
  prow/images/buildpack-golang/Makefile
  prow/images/buildpack-golang/README.md
  prow/images/debug-commando/Dockerfile
  prow/scripts/cluster-integration/reconciler-integration-k3d.sh
  prow/scripts/reconciler-publish-unstable-cli.sh
Labels: approved, size/M, lgtm, area/prow, area/tooling

#5158 Cp fix istio pipeline
  prow/scripts/cluster-integration/kyma-gke-long-lasting.sh
  prow/scripts/cluster-integration/kyma-gke-release-candidate.sh
Labels: size/XS, approved, lgtm, area/prow, kind/bug

#5153 Fix kyma cli compatibility 1
  prow/jobs/cli/cli-compatibility.yaml
  prow/scripts/compatibility-cli.sh
  templates/data/cli-data.yaml
Labels: approved, size/S, lgtm, area/prow

#5169 Fix Whitesource scans
  prow/images/whitesource-scanner/go-mod-wss-unified-agent.config
  prow/images/whitesource-scanner/go-wss-unified-agent.config
  prow/images/whitesource-scanner/javascript-wss-unified-agent.config
  prow/jobs/scans/whitesource-periodics.yaml
  templates/data/whitesource-periodics-data.yaml
Labels: approved, size/L, lgtm, area/prow

#5173 Use correct request reconcile script
  prow/scripts/cluster-integration/helpers/reconciler.sh
Labels: size/XS, approved, lgtm, area/prow

#5171 Split hydroform scans into a few subprojects
  prow/jobs/scans/whitesource-periodics.yaml
  templates/data/whitesource-periodics-data.yaml
Labels: size/XS, approved, lgtm, area/prow

#5172 Remove obsolete migration script
  prow/scripts/cluster-integration/kyma-upgrade-gardener-kyma2-to-main.sh
  prow/scripts/cluster-integration/kyma-upgrade-k3d-kyma2-to-main.sh
  prow/scripts/cluster-integration/reconciler-upgrade-kyma2-latest-to-main-gardener.sh
Labels: approved, size/S, lgtm, area/prow

#5178 Bump golangci-lint to 1.45.2
  prow/images/buildpack-golang/Dockerfile
Labels: size/XS, approved, lgtm, area/prow

#5163 Bump k3d dependency for custom image
  development/custom-image/install-deps-debian.sh
  prow/scripts/cluster-integration/kyma-integration-k3d.sh
Labels: size/XS, approved, lgtm, area/prow, area/tooling

#5180 Remove workaround with istio component name in the pipeline
  prow/scripts/cluster-integration/reconciler-component-integration.sh
Labels: approved, size/S, lgtm, area/prow

#5182 Set the istioctl version in the pipelines
  prow/scripts/cluster-integration/reconciler-component-integration.sh
  prow/scripts/cluster-integration/reconciler-component-provision-gardener.sh
  prow/scripts/provision-vm-and-start-reconciler-component-integration-k3d.sh
Labels: approved, size/S, lgtm, area/prow

#5189 Exchange example domain with real domain on Kyma 2.1.x
  prow/scripts/cluster-integration/helpers/reconciler.sh
Labels: size/XS, approved, lgtm, area/prow

#5191 Enable approve for kyma-project/third-party-images and kyma-project/cli
  prow/config.yaml
  prow/plugins.yaml
  templates/templates/prow-config.yaml
Labels: approved, size/S, lgtm, area/prow, area/templates

#5195 Whitesource: add manual excludes
  prow/jobs/scans/whitesource-periodics.yaml
  prow/scripts/cluster-integration/helpers/start-wssagent.sh
  templates/data/whitesource-periodics-data.yaml
  templates/templates/whitesource-periodics.tmpl
Labels: approved, size/S, lgtm, area/prow, area/templates

#5190 Enable telemetry integration for logging chart
  prow/scripts/cluster-integration/kyma-integration-k3d-telemetry-components.yaml
  prow/scripts/cluster-integration/kyma-integration-k3d.sh
  prow/scripts/provision-vm-and-start-kyma-k3d.sh
Labels: approved, size/M, lgtm, area/prow

#5196 Fix the go get command to bump the reconciler
  prow/scripts/reconciler-publish-unstable-cli.sh
Labels: size/XS, approved, lgtm, area/prow
