Repository kyma-project/test-infra, changes with the owners that CODEOWNERS names for each.
All owners: @kyma-project/prow, @mmitoraj, @grego952, @NHingerl, @IwonaLanger, @nataliasitko, @akucharska, @a-thaler, @lilitgh, @valentinvieriu, @qbalukom, @chrkl, @jeremyharisch, @lindnerby, @tobiscr, @rakesh-garimella, @skhalash, @kyma-project/gopher, @akgalwas, @franpog859, @koala7659, @gvachkov, @petartodorovv, @desislavaa, @dimitarpetrov, @krasish, @nickymateev, @dzahariev, @kirilkabakchiev, @stefancholakov, @svetlinzarev-sap, @dragobt, @kaloyanspiridonov, @tomasz-smelcerz-sap, @dariusztutaj, @piotrkpc, @cortey, @lyczeq, @mrcherry97, @mvshao, @m00g3n, @pprecel, @dbadura, @varbanv, @kwiatekus, @kyma-project/observability, @kyma-project/jellyfish, @pk85, @strekm, @werdes72, @ralikio, @kyma-project/eventing

Unify serverless run script (#7280)
  prow/scripts/cluster-integration/kyma-serverless-integration-k3d.sh
  prow/scripts/cluster-integration/kyma-serverless-run-test.sh
  prow/scripts/lib/serverless-shared-k3s.sh
Owners: @kyma-project/prow

Bumping Prow (#7341)
  development/tools/pkg/pjtester/test_artifacts/test-prow-config.yaml
  prow/cluster/components/crier_deployment.yaml
  prow/cluster/components/deck_deployment.yaml
  prow/cluster/components/ghproxy.yaml
  prow/cluster/components/halogen.yaml
  prow/cluster/components/hook_deployment.yaml
  prow/cluster/components/horologium_deployment.yaml
  prow/cluster/components/pipeline_deployment.yaml
  prow/cluster/components/prow_controller_manager_deployment.yaml
  prow/cluster/components/sinker_deployment.yaml
  prow/cluster/components/statusreconciler_deployment.yaml
  prow/cluster/components/tide_deployment.yaml
  prow/config.yaml
  prow/jobs/incubator/reconciler/reconciler.yaml
  prow/jobs/test-infra/branchprotector.yaml
  prow/jobs/test-infra/checkconfig.yaml
  prow/jobs/test-infra/prow-periodics.yaml
  prow/jobs/test-infra/test-infra-trusted-jobs.yaml
  prow/jobs/test-infra/triage-jobs.yaml
  prow/scripts/branchprotector-job.yaml
  prow/workload-cluster/ghproxy.yaml
  templates/data/checkconfig.yaml
  templates/data/incubator-buildpack-data.yaml
  templates/data/prow-periodics-data.yaml
  templates/templates/prow-config.yaml
Owners: @kyma-project/prow, @varbanv, @kwiatekus, @jeremyharisch, @tobiscr

Bumping Prow (#7327)
  development/tools/pkg/pjtester/test_artifacts/test-prow-config.yaml
  prow/cluster/components/crier_deployment.yaml
  prow/cluster/components/deck_deployment.yaml
  prow/cluster/components/ghproxy.yaml
  prow/cluster/components/halogen.yaml
  prow/cluster/components/hook_deployment.yaml
  prow/cluster/components/horologium_deployment.yaml
  prow/cluster/components/pipeline_deployment.yaml
  prow/cluster/components/prow_controller_manager_deployment.yaml
  prow/cluster/components/sinker_deployment.yaml
  prow/cluster/components/statusreconciler_deployment.yaml
  prow/cluster/components/tide_deployment.yaml
  prow/config.yaml
  prow/jobs/incubator/reconciler/reconciler.yaml
  prow/jobs/test-infra/branchprotector.yaml
  prow/jobs/test-infra/checkconfig.yaml
  prow/jobs/test-infra/prow-periodics.yaml
  prow/jobs/test-infra/test-infra-trusted-jobs.yaml
  prow/jobs/test-infra/triage-jobs.yaml
  prow/scripts/branchprotector-job.yaml
  prow/workload-cluster/ghproxy.yaml
  templates/data/checkconfig.yaml
  templates/data/incubator-buildpack-data.yaml
  templates/data/prow-periodics-data.yaml
  templates/templates/prow-config.yaml
Owners: @kyma-project/prow, @varbanv, @kwiatekus, @jeremyharisch, @tobiscr

Bumping test-infra (#7331)
  prow/cluster/resources/external-secrets/external_secrets_checker_prow.yaml
  prow/jobs/kyma/kyma-integration.yaml
  prow/jobs/kyma/kyma-validation.yaml
  prow/jobs/test-infra/kyma-bot.yaml
  prow/jobs/test-infra/pjtester.yaml
  prow/scripts/resources/debug-container.yaml
  templates/config.yaml
Owners: @kyma-project/prow

Bumping Prow (#7342)
  development/tools/pkg/pjtester/test_artifacts/test-prow-config.yaml
  prow/cluster/components/crier_deployment.yaml
  prow/cluster/components/deck_deployment.yaml
  prow/cluster/components/ghproxy.yaml
  prow/cluster/components/halogen.yaml
  prow/cluster/components/hook_deployment.yaml
  prow/cluster/components/horologium_deployment.yaml
  prow/cluster/components/pipeline_deployment.yaml
  prow/cluster/components/prow_controller_manager_deployment.yaml
  prow/cluster/components/sinker_deployment.yaml
  prow/cluster/components/statusreconciler_deployment.yaml
  prow/cluster/components/tide_deployment.yaml
  prow/config.yaml
  prow/jobs/incubator/reconciler/reconciler.yaml
  prow/jobs/test-infra/branchprotector.yaml
  prow/jobs/test-infra/checkconfig.yaml
  prow/jobs/test-infra/prow-periodics.yaml
  prow/jobs/test-infra/test-infra-trusted-jobs.yaml
  prow/jobs/test-infra/triage-jobs.yaml
  prow/scripts/branchprotector-job.yaml
  prow/workload-cluster/ghproxy.yaml
  templates/data/checkconfig.yaml
  templates/data/incubator-buildpack-data.yaml
  templates/data/prow-periodics-data.yaml
  templates/templates/prow-config.yaml
Owners: @kyma-project/prow, @varbanv, @kwiatekus, @jeremyharisch, @tobiscr

Disabled Privileged Containers (#7339)
  prow/scripts/resources/skr-test/shoot-template.yaml
Owners: @kyma-project/prow

Allow pjtester to run tekton cluster. (#7279)
  development/tools/pkg/pjtester/pjtester.go
Owners: @kyma-project/prow

Use updated pjtester. (#7347)
  prow/jobs/kyma/kyma-integration.yaml
  prow/jobs/kyma/kyma-validation.yaml
  prow/jobs/test-infra/kyma-bot.yaml
  prow/jobs/test-infra/pjtester.yaml
  templates/config.yaml
  templates/data/test-infra/pjtester-data.yaml
Owners: @kyma-project/prow

Run api-gateway component tests on recources/istio changes (#7333)
  prow/jobs/kyma/kyma-integration-gardener.yaml
  templates/data/kyma-integration-gardener-data.yaml
Owners: @kyma-project/jellyfish, @kyma-project/prow

Revert K8s 1.26 for Gardener clusters (#7330)
  prow/config.yaml
  prow/scripts/resources/busola/cluster-busola.yaml
  prow/scripts/resources/busola/cluster-kyma.yaml
  prow/scripts/resources/reconciler/shoot-template.yaml
  prow/scripts/resources/skr-test/shoot-template.yaml
  templates/templates/prow-config.yaml
Owners: @kyma-project/prow

remove transfigure paragraph (#7332)
  docs/prow/prow-k8s-testgrid.md
Owners: @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko

Bumping Prow (#7336)
  development/tools/pkg/pjtester/test_artifacts/test-prow-config.yaml
  prow/cluster/components/crier_deployment.yaml
  prow/cluster/components/deck_deployment.yaml
  prow/cluster/components/ghproxy.yaml
  prow/cluster/components/halogen.yaml
  prow/cluster/components/hook_deployment.yaml
  prow/cluster/components/horologium_deployment.yaml
  prow/cluster/components/pipeline_deployment.yaml
  prow/cluster/components/prow_controller_manager_deployment.yaml
  prow/cluster/components/sinker_deployment.yaml
  prow/cluster/components/statusreconciler_deployment.yaml
  prow/cluster/components/tide_deployment.yaml
  prow/config.yaml
  prow/jobs/incubator/reconciler/reconciler.yaml
  prow/jobs/test-infra/branchprotector.yaml
  prow/jobs/test-infra/checkconfig.yaml
  prow/jobs/test-infra/prow-periodics.yaml
  prow/jobs/test-infra/test-infra-trusted-jobs.yaml
  prow/jobs/test-infra/triage-jobs.yaml
  prow/scripts/branchprotector-job.yaml
  prow/workload-cluster/ghproxy.yaml
  templates/data/checkconfig.yaml
  templates/data/incubator-buildpack-data.yaml
  templates/data/prow-periodics-data.yaml
  templates/templates/prow-config.yaml
Owners: @kyma-project/prow, @varbanv, @kwiatekus, @jeremyharisch, @tobiscr

Revert "Comparing CRD table in MD files (#7201)" (#7353)
  prow/jobs/governance.yaml
  prow/scripts/governance.sh
  templates/data/governance-data.yaml
Owners: @kyma-project/prow

Bumping Prow (#7343)
  development/tools/pkg/pjtester/test_artifacts/test-prow-config.yaml
  prow/cluster/components/crier_deployment.yaml
  prow/cluster/components/deck_deployment.yaml
  prow/cluster/components/ghproxy.yaml
  prow/cluster/components/halogen.yaml
  prow/cluster/components/hook_deployment.yaml
  prow/cluster/components/horologium_deployment.yaml
  prow/cluster/components/pipeline_deployment.yaml
  prow/cluster/components/prow_controller_manager_deployment.yaml
  prow/cluster/components/sinker_deployment.yaml
  prow/cluster/components/statusreconciler_deployment.yaml
  prow/cluster/components/tide_deployment.yaml
  prow/config.yaml
  prow/jobs/incubator/reconciler/reconciler.yaml
  prow/jobs/test-infra/branchprotector.yaml
  prow/jobs/test-infra/checkconfig.yaml
  prow/jobs/test-infra/prow-periodics.yaml
  prow/jobs/test-infra/test-infra-trusted-jobs.yaml
  prow/jobs/test-infra/triage-jobs.yaml
  prow/scripts/branchprotector-job.yaml
  prow/workload-cluster/ghproxy.yaml
  templates/data/checkconfig.yaml
  templates/data/incubator-buildpack-data.yaml
  templates/data/prow-periodics-data.yaml
  templates/templates/prow-config.yaml
Owners: @kyma-project/prow, @varbanv, @kwiatekus, @jeremyharisch, @tobiscr

Bumping Prow (#7350)
  development/tools/pkg/pjtester/test_artifacts/test-prow-config.yaml
  prow/cluster/components/crier_deployment.yaml
  prow/cluster/components/deck_deployment.yaml
  prow/cluster/components/ghproxy.yaml
  prow/cluster/components/halogen.yaml
  prow/cluster/components/hook_deployment.yaml
  prow/cluster/components/horologium_deployment.yaml
  prow/cluster/components/pipeline_deployment.yaml
  prow/cluster/components/prow_controller_manager_deployment.yaml
  prow/cluster/components/sinker_deployment.yaml
  prow/cluster/components/statusreconciler_deployment.yaml
  prow/cluster/components/tide_deployment.yaml
  prow/config.yaml
  prow/jobs/incubator/reconciler/reconciler.yaml
  prow/jobs/test-infra/branchprotector.yaml
  prow/jobs/test-infra/checkconfig.yaml
  prow/jobs/test-infra/prow-periodics.yaml
  prow/jobs/test-infra/test-infra-trusted-jobs.yaml
  prow/jobs/test-infra/triage-jobs.yaml
  prow/scripts/branchprotector-job.yaml
  prow/workload-cluster/ghproxy.yaml
  templates/data/checkconfig.yaml
  templates/data/incubator-buildpack-data.yaml
  templates/data/prow-periodics-data.yaml
  templates/templates/prow-config.yaml
Owners: @kyma-project/prow, @varbanv, @kwiatekus, @jeremyharisch, @tobiscr

CODEOWNERS:

# This file provides an overview of code owners in the `kyma` repository.

# Each line is a file pattern followed by one or more owners.
# The last matching pattern has the most precedence.
# For more details, read the following article on GitHub: https://help.github.com/articles/about-codeowners/.

# These are the default owners for the whole content of the `kyma` repository. The default owners are automatically added as reviewers when you open a pull request, unless different owners are specified in the file.

* @kyma-project/prow
/development @kyma-project/prow
/docs @kyma-project/prow @mmitoraj @grego952 @NHingerl @IwonaLanger @nataliasitko
/prow @kyma-project/prow
/prow/cluster @kyma-project/prow
/prow/images @kyma-project/prow
/prow/images/buildpack-node @kyma-project/prow @akucharska  @a-thaler @lilitgh @valentinvieriu @qbalukom

/prow/jobs @kyma-project/prow
/prow/jobs/busola @qbalukom @valentinvieriu  @akucharska @kyma-project/prow
/prow/jobs/cli @chrkl @jeremyharisch @lindnerby @tobiscr  @lilitgh @rakesh-garimella @skhalash @kyma-project/prow
/prow/jobs/control-plane @kyma-project/gopher @akgalwas @franpog859 @koala7659 @kyma-project/prow
/prow/jobs/incubator/compass @gvachkov @petartodorovv @desislavaa @dimitarpetrov @krasish @nickymateev @dzahariev @kirilkabakchiev @stefancholakov @svetlinzarev-sap @dragobt @kaloyanspiridonov @kyma-project/prow
/prow/jobs/incubator/compass-console @gvachkov @petartodorovv @desislavaa @dimitarpetrov @krasish @nickymateev @dzahariev @kirilkabakchiev @stefancholakov @svetlinzarev-sap @dragobt @kaloyanspiridonov @kyma-project/prow
/prow/jobs/incubator/documentation-component @kyma-project/prow
/prow/jobs/incubator/hydra-login-consent @tomasz-smelcerz-sap @dariusztutaj @piotrkpc @kyma-project/prow
/prow/jobs/incubator/kyma-showcase @cortey @lyczeq @mrcherry97 @mvshao @kyma-project/prow
/prow/jobs/incubator/milv @m00g3n @pprecel @dbadura @kyma-project/prow
/prow/jobs/incubator/ord-service @gvachkov @kirilkabakchiev @nickymateev @dzahariev @svetlinzarev-sap @dragobt @kaloyanspiridonov @kyma-project/prow
/prow/jobs/incubator/reconciler @varbanv  @kwiatekus @jeremyharisch @tobiscr @kyma-project/prow
/prow/jobs/incubator/varkes @kyma-project/observability @kyma-project/prow
/prow/jobs/kyma/kyma-integration-gardener.yaml @kyma-project/jellyfish
/prow/jobs/kyma/components/apiserver-proxy @pk85 @dariusztutaj @strekm @tomasz-smelcerz-sap @werdes72 @kyma-project/prow
/prow/jobs/kyma/components/central-application-connectivity-validator @koala7659 @akgalwas @franpog859 @ralikio @pk85 @kyma-project/prow
/prow/jobs/kyma/components/central-application-gateway @koala7659 @ralikio @pk85 @akgalwas @franpog859 @kyma-project/prow
/prow/jobs/kyma/components/compass-runtime-agent @franpog859 @ralikio @pk85 @akgalwas @koala7659 @kyma-project/prow
/prow/jobs/kyma/components/event-publisher-proxy @kyma-project/eventing
/prow/jobs/kyma/components/eventing-controller @kyma-project/eventing
/prow/jobs/kyma/kyma-integration-gardener-eventing.yaml @kyma-project/prow @kyma-project/eventing
/prow/jobs/eventing-tools/ @kyma-project/prow @kyma-project/eventing
/prow/jobs/kyma/components/function-controller @pk85 @dbadura @kwiatekus @m00g3n @pprecel @kyma-project/prow
/prow/jobs/kyma/components/function-runtimes @dbadura @kwiatekus @m00g3n @pprecel @pk85 @kyma-project/prow
/prow/jobs/kyma/components/iam-kubeconfig-service @dariusztutaj @strekm @tomasz-smelcerz-sap @werdes72 @pk85 @kyma-project/prow
/prow/jobs/kyma/components/istio-installer @tomasz-smelcerz-sap @werdes72 @pk85 @dariusztutaj @strekm @kyma-project/prow
/prow/jobs/kyma/components/kyma-operator @tomasz-smelcerz-sap @werdes72 @pk85 @dariusztutaj @strekm @kyma-project/prow
/prow/jobs/kyma/components/permission-controller @pk85 @dariusztutaj @strekm @tomasz-smelcerz-sap @werdes72 @kyma-project/prow
/prow/jobs/telemetry-manager @kyma-project/observability @kyma-project/prow
/prow/jobs/directory-size-exporter @kyma-project/observability @kyma-project/prow
/prow/jobs/kyma/components/xip-patch @strekm @tomasz-smelcerz-sap @werdes72 @pk85 @dariusztutaj @kyma-project/prow
/prow/jobs/kyma/tests/end-to-end @kyma-project/gopher @kyma-project/prow
/prow/jobs/kyma/tests/function-controller @pk85 @dbadura @kwiatekus @m00g3n @pprecel @kyma-project/prow
/prow/jobs/kyma/tests/integration @strekm @tomasz-smelcerz-sap @werdes72 @pk85 @dariusztutaj @kyma-project/prow
/prow/jobs/kyma/tests/serverless-bench @pk85 @dbadura @kwiatekus @m00g3n @pprecel @kyma-project/prow
/prow/jobs/kyma/tools/event-subscriber @kyma-project/eventing @kyma-project/prow
/prow/jobs/kyma-project/telemetry-manager @kyma-project/observability @kyma-project/prow

/prow/scripts @kyma-project/prow

/templates @kyma-project/prow
/templates/templates @kyma-project/prow
templates/data/eventing-tools-data.yaml @kyma-project/prow @kyma-project/eventing

# All .md files
*.md @mmitoraj @NHingerl @grego952 @IwonaLanger @nataliasitko

# Don't require review for auto generated files
/test-inventory-integration.md
/docs/index.md
