Repository kyma-project/test-infra, changes with the owners that CODEOWNERS names for each.
All owners: @kyma-project/prow, @neighbors-dev-bot, @mmitoraj, @grego952, @NHingerl, @IwonaLanger, @nataliasitko, @kyma-project/hasselhoff, @a-thaler, @lilitgh, @kyma-project/goat, @kyma-project/gopher, @kyma-project/jellyfish, @kyma-project/Framefrog, @kyma-project/operations, @kyma-project/eventing, @kyma-project/framefrog, @kyma-project/observability, @gvachkov, @petartodorovv, @desislavaa, @dimitarpetrov, @krasish, @nickymateev, @dzahariev, @kirilkabakchiev, @stefancholakov, @svetlinzarev-sap, @dragobt, @kaloyanspiridonov, @janmedrek, @kyma-project/otters, @kyma-project/technical-writers, @TorstenD-SAP

remove pjtester
  vpath/pjtester.yaml
Owners: @kyma-project/prow, @neighbors-dev-bot

Revert "remove pjtester"
  vpath/pjtester.yaml
Owners: @kyma-project/prow, @neighbors-dev-bot

remove pjtester
  vpath/pjtester.yaml
Owners: @kyma-project/prow, @neighbors-dev-bot

Add ARM64 architecture to compass schema migrator build job (#9207)
  prow/jobs/incubator/compass/components/schema-migrator/schema-migrator-generic.yaml
Owners: @gvachkov, @petartodorovv, @desislavaa, @dimitarpetrov, @krasish, @nickymateev, @dzahariev, @kirilkabakchiev, @stefancholakov, @svetlinzarev-sap, @dragobt, @kaloyanspiridonov, @neighbors-dev-bot

Trigger gateway integration tests on a PR
  vpath/pjtester.yaml
Owners: @kyma-project/prow, @neighbors-dev-bot

Add platformRegion to skr tests (#9201)
  prow/jobs/kyma/keb-endpoints-test.yaml
  prow/jobs/kyma/skr-aws-upgrade-integration-dev.yaml
  prow/jobs/kyma/skr-integration.yaml
  prow/jobs/kyma/skr-networking.yaml
  templates/data/keb-endpoints-test.yaml
  templates/data/skr-aws-upgrade-integration-dev-data.yaml
  templates/data/skr-integration-data.yaml
  templates/data/skr-networking.yaml
Owners: @kyma-project/gopher, @neighbors-dev-bot, @kyma-project/prow

Test skrs with region
  vpath/pjtester.yaml
Owners: @kyma-project/prow, @neighbors-dev-bot

pjtester
  vpath/pjtester.yaml
Owners: @kyma-project/prow, @neighbors-dev-bot

cleanup: moving jobs to repository-based structure
  prow/jobs/kyma-incubator/slack-bot/slack-bot-build.yaml
  prow/jobs/kyma-project/api-gateway/api-gateway-manager-build.yaml
  prow/jobs/kyma-project/api-gateway/api-gateway-manager-integration-tests.yaml
  prow/jobs/kyma-project/btp-manager/btp-manager-build.yaml
  prow/jobs/kyma-project/busola/busola-backend/backend-deployment-check.yaml
  prow/jobs/kyma-project/busola/busola-backend/busola-backend.yaml
  prow/jobs/kyma-project/busola/busola-integration.yaml
  prow/jobs/kyma-project/busola/busola-web/busola-web.yaml
  prow/jobs/kyma-project/busola/busola-web/web-deployment-check.yaml
  prow/jobs/kyma-project/busola/busola.yaml
  prow/jobs/kyma-project/busola/lighthouse.yaml
  prow/jobs/kyma-project/directory-size-exporter/directory-size-exporter-generic.yaml
  prow/jobs/kyma-project/examples/examples-build.yaml
  prow/jobs/kyma-project/istio/istio-integration.yaml
  prow/jobs/kyma-project/istio/istio-manager.yaml
  prow/jobs/kyma-project/kyma-dashboard/kyma-dashboard-dev.yaml
  prow/jobs/kyma-project/kyma-dashboard/kyma-dashboard-integration.yaml
  prow/jobs/kyma-project/kyma-dashboard/kyma-dashboard-prod.yaml
  prow/jobs/kyma-project/kyma-dashboard/kyma-dashboard-smoke-test-prod.yaml
  prow/jobs/kyma-project/kyma-dashboard/kyma-dashboard-smoke-test-stage.yaml
  prow/jobs/kyma-project/kyma-dashboard/kyma-dashboard-stage.yaml
  prow/jobs/kyma-project/kyma-environment-broker/keb-endpoints-test.yaml
  prow/jobs/kyma-project/kyma-environment-broker/kyma-environment-broker-build.yaml
  prow/jobs/kyma-project/telemetry-manager/telemetry-manager-generic.yaml
  prow/jobs/kyma-project/third-party-images/third-party-images.yaml
  templates/data/api-gateway-manager-build.yaml
  templates/data/api-gateway-manager-integration-tests.yaml
  templates/data/btp-manager-build.yaml
  templates/data/directory-size-exporter-data.yaml
  templates/data/examples-build.yaml
  templates/data/istio-module-data.yaml
  templates/data/keb-endpoints-test.yaml
  templates/data/kyma-environment-broker-build.yaml
  templates/data/slack-bot/slack-bot-build.yaml
  templates/data/telemetry-manager-data.yaml
  templates/data/third-party-images-data.yaml
Owners: @kyma-project/prow, @neighbors-dev-bot, @kyma-project/observability

cleanup: moving jobs to repository-based structure (#9211)
  prow/jobs/kyma-incubator/slack-bot/slack-bot-build.yaml
  prow/jobs/kyma-project/api-gateway/api-gateway-manager-build.yaml
  prow/jobs/kyma-project/api-gateway/api-gateway-manager-integration-tests.yaml
  prow/jobs/kyma-project/btp-manager/btp-manager-build.yaml
  prow/jobs/kyma-project/busola/busola-backend/backend-deployment-check.yaml
  prow/jobs/kyma-project/busola/busola-backend/busola-backend.yaml
  prow/jobs/kyma-project/busola/busola-integration.yaml
  prow/jobs/kyma-project/busola/busola-web/busola-web.yaml
  prow/jobs/kyma-project/busola/busola-web/web-deployment-check.yaml
  prow/jobs/kyma-project/busola/busola.yaml
  prow/jobs/kyma-project/busola/lighthouse.yaml
  prow/jobs/kyma-project/directory-size-exporter/directory-size-exporter-generic.yaml
  prow/jobs/kyma-project/examples/examples-build.yaml
  prow/jobs/kyma-project/istio/istio-integration.yaml
  prow/jobs/kyma-project/istio/istio-manager.yaml
  prow/jobs/kyma-project/kyma-dashboard/kyma-dashboard-dev.yaml
  prow/jobs/kyma-project/kyma-dashboard/kyma-dashboard-integration.yaml
  prow/jobs/kyma-project/kyma-dashboard/kyma-dashboard-prod.yaml
  prow/jobs/kyma-project/kyma-dashboard/kyma-dashboard-smoke-test-prod.yaml
  prow/jobs/kyma-project/kyma-dashboard/kyma-dashboard-smoke-test-stage.yaml
  prow/jobs/kyma-project/kyma-dashboard/kyma-dashboard-stage.yaml
  prow/jobs/kyma-project/kyma-environment-broker/keb-endpoints-test.yaml
  prow/jobs/kyma-project/kyma-environment-broker/kyma-environment-broker-build.yaml
  prow/jobs/kyma-project/telemetry-manager/telemetry-manager-generic.yaml
  prow/jobs/kyma-project/third-party-images/third-party-images.yaml
  templates/data/api-gateway-manager-build.yaml
  templates/data/api-gateway-manager-integration-tests.yaml
  templates/data/btp-manager-build.yaml
  templates/data/directory-size-exporter-data.yaml
  templates/data/examples-build.yaml
  templates/data/istio-module-data.yaml
  templates/data/keb-endpoints-test.yaml
  templates/data/kyma-environment-broker-build.yaml
  templates/data/slack-bot/slack-bot-build.yaml
  templates/data/telemetry-manager-data.yaml
  templates/data/third-party-images-data.yaml
Owners: @kyma-project/prow, @neighbors-dev-bot, @kyma-project/observability

Update lint-markdown-links-daily.yml
  .github/workflows/lint-markdown-links-daily.yml
Owners: @kyma-project/prow, @neighbors-dev-bot

Remove comment
  .github/workflows/lint-markdown-links-daily.yml
Owners: @kyma-project/prow, @neighbors-dev-bot

Fix eventing jobs by intalling required modules
  prow/scripts/cluster-integration/helpers/eventing.sh
  prow/scripts/cluster-integration/kyma-integration-gardener-eventing-upgrade.sh
  prow/scripts/cluster-integration/kyma-integration-gardener-eventing.sh
  vpath/pjtester.yaml
Owners: @kyma-project/prow, @neighbors-dev-bot

removed pjtester
  vpath/pjtester.yaml
Owners: @kyma-project/prow, @neighbors-dev-bot

Missed Repo Location
  prow/jobs/kyma-project/control-plane/components/kyma-environment-broker/keb-subscription-cleanup-job-build.yaml
Owners: @kyma-project/framefrog, @neighbors-dev-bot

bug: fix gatekeeper constraints and remove not used job
  configs/autobump-config/dockerhub-autobump.yaml
  prow/cluster/resources/gatekeeper-constraints/workloads/kymaAutobumpBotGithubTokenTrustedUsage.yaml
  prow/jobs/test-infra/prow-periodics.yaml
  templates/data/prow-periodics-data.yaml
Owners: @kyma-project/prow, @neighbors-dev-bot

bug: fix gatekeeper constraints and remove not used job (#9220)
  configs/autobump-config/dockerhub-autobump.yaml
  prow/cluster/resources/gatekeeper-constraints/workloads/kymaAutobumpBotGithubTokenTrustedUsage.yaml
  prow/jobs/test-infra/prow-periodics.yaml
  templates/data/prow-periodics-data.yaml
Owners: @kyma-project/prow, @neighbors-dev-bot

Bumping Prow
  prow/cluster/components/crier_deployment.yaml
  prow/cluster/components/deck_deployment.yaml
  prow/cluster/components/gcsweb.yaml
  prow/cluster/components/ghproxy.yaml
  prow/cluster/components/hook_deployment.yaml
  prow/cluster/components/horologium_deployment.yaml
  prow/cluster/components/prow_controller_manager_deployment.yaml
  prow/cluster/components/sinker_deployment.yaml
  prow/cluster/components/statusreconciler_deployment.yaml
  prow/cluster/components/tide_deployment.yaml
  prow/config.yaml
  prow/jobs/incubator/reconciler/reconciler.yaml
  prow/jobs/kyma-project/k8s-prow/k8s-prow-periodics.yaml
  prow/jobs/test-infra/branchprotector.yaml
  prow/jobs/test-infra/checkconfig.yaml
  prow/jobs/test-infra/prow-periodics.yaml
  prow/jobs/test-infra/triage-jobs.yaml
  prow/workload-cluster/ghproxy.yaml
  sec-scanners-config.yaml
  templates/data/checkconfig.yaml
  templates/data/incubator-buildpack-data.yaml
  templates/data/prow-periodics-data.yaml
Owners: @kyma-project/prow, @neighbors-dev-bot, @kyma-project/jellyfish, @kyma-project/goat

Bumping Prow (#9225)
  prow/cluster/components/crier_deployment.yaml
  prow/cluster/components/deck_deployment.yaml
  prow/cluster/components/gcsweb.yaml
  prow/cluster/components/ghproxy.yaml
  prow/cluster/components/hook_deployment.yaml
  prow/cluster/components/horologium_deployment.yaml
  prow/cluster/components/prow_controller_manager_deployment.yaml
  prow/cluster/components/sinker_deployment.yaml
  prow/cluster/components/statusreconciler_deployment.yaml
  prow/cluster/components/tide_deployment.yaml
  prow/config.yaml
  prow/jobs/incubator/reconciler/reconciler.yaml
  prow/jobs/kyma-project/k8s-prow/k8s-prow-periodics.yaml
  prow/jobs/test-infra/branchprotector.yaml
  prow/jobs/test-infra/checkconfig.yaml
  prow/jobs/test-infra/prow-periodics.yaml
  prow/jobs/test-infra/triage-jobs.yaml
  prow/workload-cluster/ghproxy.yaml
  sec-scanners-config.yaml
  templates/data/checkconfig.yaml
  templates/data/incubator-buildpack-data.yaml
  templates/data/prow-periodics-data.yaml
Owners: @kyma-project/prow, @neighbors-dev-bot, @kyma-project/jellyfish, @kyma-project/goat

rerun test
  prow/jobs/test-infra/prow-periodics.yaml
Owners: @kyma-project/prow, @neighbors-dev-bot

correct path
  prow/jobs/test-infra/prow-periodics.yaml
  templates/data/prow-periodics-data.yaml
Owners: @kyma-project/prow, @neighbors-dev-bot

Consolidation of notifications channels for neighbors team (#9227)
  prow/jobs/kyma-project/k8s-prow/k8s-prow-periodics.yaml
  prow/jobs/test-infra/gardener-kubeconfig-rotation.yaml
  prow/jobs/test-infra/gcr-cleaner.yaml
  prow/jobs/test-infra/prow-periodics.yaml
  templates/data/prow-periodics-data.yaml
  templates/data/secret-rotation-data.yaml
Owners: @kyma-project/prow, @neighbors-dev-bot

Adjust jobs to work with new serverless-manager's Dockerfile dir
  prow/cluster/resources/gatekeeper-constraints/workloads/signifySecretTrustedUsage.yaml
  prow/jobs/kyma-project/serverless-manager/serverless-manager.yaml
  templates/data/generic_module_data.yaml
Owners: @kyma-project/prow, @neighbors-dev-bot

Bumping test-infra and testimages and test-infra-prod
  configs/terraform/modules/cors-proxy/cors-proxy.tf
  configs/terraform/modules/github-webhook-gateway/github-webhook-gateway.tf
  configs/terraform/modules/secrets-leaks-log-scanner/gcs-bucket-mover.tf
  configs/terraform/modules/secrets-leaks-log-scanner/github-issue-finder.tf
  configs/terraform/modules/secrets-leaks-log-scanner/secrets-leak-log-scanner.tf
  prow/cluster/components/cla-assistant_external-plugin.yaml
  prow/cluster/components/needs-tws_external-plugin.yaml
  prow/cluster/resources/external-secrets/external_secrets_checker_prow.yaml
  prow/jobs/kyma/kyma-validation.yaml
  prow/jobs/kyma/periodics.yaml
  prow/jobs/test-infra/gardener-kubeconfig-rotation.yaml
  prow/jobs/test-infra/image-syncer.yaml
  prow/jobs/test-infra/kyma-bot.yaml
  prow/jobs/test-infra/pjtester.yaml
  prow/jobs/test-infra/prow-periodics.yaml
  templates/config.yaml
  templates/data/image-syncer-data.yaml
  templates/data/kyma-bot-data.yaml
  templates/data/kyma-validation-data.yaml
  templates/data/test-infra/pjtester-data.yaml
Owners: @kyma-project/prow, @neighbors-dev-bot

Addd notification to slack
  .github/workflows/lint-markdown-links-daily.yml
Owners: @kyma-project/prow, @neighbors-dev-bot

Bumping test-infra and testimages and test-infra-prod (#9228)
  configs/terraform/modules/cors-proxy/cors-proxy.tf
  configs/terraform/modules/github-webhook-gateway/github-webhook-gateway.tf
  configs/terraform/modules/secrets-leaks-log-scanner/gcs-bucket-mover.tf
  configs/terraform/modules/secrets-leaks-log-scanner/github-issue-finder.tf
  configs/terraform/modules/secrets-leaks-log-scanner/secrets-leak-log-scanner.tf
  prow/cluster/components/cla-assistant_external-plugin.yaml
  prow/cluster/components/needs-tws_external-plugin.yaml
  prow/cluster/resources/external-secrets/external_secrets_checker_prow.yaml
  prow/jobs/kyma/kyma-validation.yaml
  prow/jobs/kyma/periodics.yaml
  prow/jobs/test-infra/gardener-kubeconfig-rotation.yaml
  prow/jobs/test-infra/image-syncer.yaml
  prow/jobs/test-infra/kyma-bot.yaml
  prow/jobs/test-infra/pjtester.yaml
  prow/jobs/test-infra/prow-periodics.yaml
  templates/config.yaml
  templates/data/image-syncer-data.yaml
  templates/data/kyma-bot-data.yaml
  templates/data/kyma-validation-data.yaml
  templates/data/test-infra/pjtester-data.yaml
Owners: @kyma-project/prow, @neighbors-dev-bot

change version to hash
  .github/workflows/lint-markdown-links-daily.yml
Owners: @kyma-project/prow, @neighbors-dev-bot

Consolidation of notifications channels for neighbors team (#9229)
  .github/workflows/lint-markdown-links-daily.yml
Owners: @kyma-project/prow, @neighbors-dev-bot

remove telemetry-manager integration jobs
  prow/jobs/kyma-project/telemetry-manager/telemetry-manager-e2e-test-logging-release.yaml
  prow/jobs/kyma-project/telemetry-manager/telemetry-manager-e2e-test-logging.yaml
  prow/jobs/kyma-project/telemetry-manager/telemetry-manager-e2e-test-metrics.yaml
  prow/jobs/kyma-project/telemetry-manager/telemetry-manager-e2e-test-tracing-release.yaml
  prow/jobs/kyma-project/telemetry-manager/telemetry-manager-e2e-test-tracing.yaml
  prow/jobs/kyma-project/telemetry-manager/telemetry-manager-integration-istio.yaml
  prow/jobs/kyma/components/kyma-components-static-checks.yaml
  templates/data/go-toolkit-validation.yaml
Owners: @kyma-project/observability, @neighbors-dev-bot, @kyma-project/prow

removed verify-modules check as well
  prow/jobs/kyma-project/telemetry-manager/telemetry-manager-verify-module.yaml
Owners: @kyma-project/observability, @neighbors-dev-bot

remove telemetry-manager integration jobs (#9219)
  prow/jobs/kyma-project/telemetry-manager/telemetry-manager-e2e-test-logging-release.yaml
  prow/jobs/kyma-project/telemetry-manager/telemetry-manager-e2e-test-logging.yaml
  prow/jobs/kyma-project/telemetry-manager/telemetry-manager-e2e-test-metrics.yaml
  prow/jobs/kyma-project/telemetry-manager/telemetry-manager-e2e-test-tracing-release.yaml
  prow/jobs/kyma-project/telemetry-manager/telemetry-manager-e2e-test-tracing.yaml
  prow/jobs/kyma-project/telemetry-manager/telemetry-manager-integration-istio.yaml
  prow/jobs/kyma-project/telemetry-manager/telemetry-manager-verify-module.yaml
  prow/jobs/kyma/components/kyma-components-static-checks.yaml
  templates/data/go-toolkit-validation.yaml
Owners: @kyma-project/observability, @neighbors-dev-bot, @kyma-project/prow

Bumping test-infra and testimages and test-infra-prod
  configs/terraform/modules/slack-message-sender/slack-message-sender.tf
Owners: @kyma-project/prow, @neighbors-dev-bot

Bumping test-infra and testimages and test-infra-prod (#9231)
  configs/terraform/modules/slack-message-sender/slack-message-sender.tf
Owners: @kyma-project/prow, @neighbors-dev-bot

Bumping test-infra and testimages and test-infra-prod
  configs/terraform/modules/cors-proxy/cors-proxy.tf
  configs/terraform/modules/github-webhook-gateway/github-webhook-gateway.tf
  configs/terraform/modules/secrets-leaks-log-scanner/gcs-bucket-mover.tf
  configs/terraform/modules/secrets-leaks-log-scanner/github-issue-finder.tf
  configs/terraform/modules/secrets-leaks-log-scanner/secrets-leak-log-scanner.tf
  configs/terraform/modules/slack-message-sender/slack-message-sender.tf
  prow/cluster/components/cla-assistant_external-plugin.yaml
  prow/cluster/components/needs-tws_external-plugin.yaml
  prow/cluster/resources/external-secrets/external_secrets_checker_prow.yaml
  prow/jobs/kyma/kyma-validation.yaml
  prow/jobs/kyma/periodics.yaml
  prow/jobs/test-infra/gardener-kubeconfig-rotation.yaml
  prow/jobs/test-infra/image-syncer.yaml
  prow/jobs/test-infra/kyma-bot.yaml
  prow/jobs/test-infra/pjtester.yaml
  prow/jobs/test-infra/prow-periodics.yaml
  templates/config.yaml
  templates/data/image-syncer-data.yaml
  templates/data/kyma-bot-data.yaml
  templates/data/kyma-validation-data.yaml
  templates/data/test-infra/pjtester-data.yaml
Owners: @kyma-project/prow, @neighbors-dev-bot

Bumping test-infra and testimages and test-infra-prod (#9232)
  configs/terraform/modules/cors-proxy/cors-proxy.tf
  configs/terraform/modules/github-webhook-gateway/github-webhook-gateway.tf
  configs/terraform/modules/secrets-leaks-log-scanner/gcs-bucket-mover.tf
  configs/terraform/modules/secrets-leaks-log-scanner/github-issue-finder.tf
  configs/terraform/modules/secrets-leaks-log-scanner/secrets-leak-log-scanner.tf
  configs/terraform/modules/slack-message-sender/slack-message-sender.tf
  prow/cluster/components/cla-assistant_external-plugin.yaml
  prow/cluster/components/needs-tws_external-plugin.yaml
  prow/cluster/resources/external-secrets/external_secrets_checker_prow.yaml
  prow/jobs/kyma/kyma-validation.yaml
  prow/jobs/kyma/periodics.yaml
  prow/jobs/test-infra/gardener-kubeconfig-rotation.yaml
  prow/jobs/test-infra/image-syncer.yaml
  prow/jobs/test-infra/kyma-bot.yaml
  prow/jobs/test-infra/pjtester.yaml
  prow/jobs/test-infra/prow-periodics.yaml
  templates/config.yaml
  templates/data/image-syncer-data.yaml
  templates/data/kyma-bot-data.yaml
  templates/data/kyma-validation-data.yaml
  templates/data/test-infra/pjtester-data.yaml
Owners: @kyma-project/prow, @neighbors-dev-bot

Update signifySecretTrustedUsage.yaml
  prow/cluster/resources/gatekeeper-constraints/workloads/signifySecretTrustedUsage.yaml
Owners: @kyma-project/prow, @neighbors-dev-bot

Adjust jobs to work with new serverless-manager's Dockerfile (#9187)
  prow/cluster/resources/gatekeeper-constraints/workloads/signifySecretTrustedUsage.yaml
  prow/jobs/kyma-project/serverless-manager/serverless-manager.yaml
  templates/data/generic_module_data.yaml
Owners: @kyma-project/prow, @neighbors-dev-bot

fix for github markdown actions
  .github/workflows/lint-markdown-links-daily.yml
Owners: @kyma-project/prow, @neighbors-dev-bot

Fix GitHub Actions link (#9236)
  .github/workflows/lint-markdown-links-daily.yml
Owners: @kyma-project/prow, @neighbors-dev-bot

Update links
  README.md
  docs/prow/manage-component-jobs-with-templates.md
  docs/prow/prow-jobs-quick-start.md
  docs/prow/quality-metrics.md
  experimental/custom-image/README.md
Owners: @mmitoraj, @NHingerl, @grego952, @IwonaLanger, @nataliasitko, @neighbors-dev-bot

CODEOWNERS:

# This file provides an overview of code owners in the `kyma` repository.

# Each line is a file pattern followed by one or more owners.
# The last matching pattern has the most precedence.
# For more details, read the following article on GitHub: https://help.github.com/articles/about-codeowners/.

# These are the default owners for the whole content of the `kyma` repository.
# The default owners are automatically added as reviewers when you open a pull request, unless different owners are specified in the file.

# IMPORTANT: Each path must have @neighbors-dev-bot added to let automation work. Having bot added as owner explicitly while it's not a kyma-project/prow group member does not interfere with the request review automation.

* @kyma-project/prow @neighbors-dev-bot
/development @kyma-project/prow @neighbors-dev-bot
/docs @kyma-project/prow @mmitoraj @grego952 @NHingerl @IwonaLanger @nataliasitko @neighbors-dev-bot
/prow @kyma-project/prow @neighbors-dev-bot
/prow/cluster @kyma-project/prow @neighbors-dev-bot
/prow/images @kyma-project/prow @neighbors-dev-bot
/prow/images/buildpack-node @kyma-project/prow @kyma-project/hasselhoff @a-thaler @lilitgh @neighbors-dev-bot

/prow/jobs @kyma-project/prow @neighbors-dev-bot
/prow/jobs/api-gateway/ @kyma-project/goat @neighbors-dev-bot
/prow/jobs/btp-manager @kyma-project/gopher @neighbors-dev-bot
/prow/jobs/busola @kyma-project/hasselhoff @neighbors-dev-bot
/prow/jobs/cli @kyma-project/jellyfish @neighbors-dev-bot
/prow/jobs/control-plane @kyma-project/gopher @kyma-project/Framefrog @kyma-project/prow @neighbors-dev-bot
/prow/jobs/control-plane/components/kubeconfig-service @kyma-project/operations @neighbors-dev-bot
/prow/jobs/control-plane/components/kyma-environment-broker @kyma-project/gopher @neighbors-dev-bot
/prow/jobs/control-plane/components/kyma-metrics-collector @kyma-project/eventing @neighbors-dev-bot
/prow/jobs/control-plane/components/provisioner @kyma-project/framefrog @neighbors-dev-bot
/prow/jobs/control-plane/components/schema-migrator @kyma-project/gopher @kyma-project/framefrog @neighbors-dev-bot
/prow/jobs/control-plane/tests/e2e/provisioning @kyma-project/gopher @neighbors-dev-bot
/prow/jobs/control-plane/control-plane-reconciler-integration.yaml @kyma-project/jellyfish @neighbors-dev-bot
/prow/jobs/control-plane/control-plane-reconciler-upgrade-kyma2-latest-to-main-gardener.yaml @kyma-project/jellyfish @neighbors-dev-bot
/prow/jobs/control-plane/control-plane-validation.yaml @kyma-project/prow @neighbors-dev-bot
/prow/jobs/control-plane/kcp-cli.yaml @kyma-project/operations @neighbors-dev-bot
/prow/jobs/directory-size-exporter/ @kyma-project/observability @neighbors-dev-bot
/prow/jobs/eventing-auth-manager @kyma-project/eventing @neighbors-dev-bot
/prow/jobs/eventing-manager/ @kyma-project/eventing @neighbors-dev-bot
/prow/jobs/eventing-webhook/  @kyma-project/eventing @neighbors-dev-bot
/prow/jobs/examples @kyma-project/observability @neighbors-dev-bot
/prow/jobs/incubator/compass @gvachkov @petartodorovv @desislavaa @dimitarpetrov @krasish @nickymateev @dzahariev @kirilkabakchiev @stefancholakov @svetlinzarev-sap @dragobt @kaloyanspiridonov @neighbors-dev-bot
/prow/jobs/incubator/compass-console @gvachkov @petartodorovv @desislavaa @dimitarpetrov @krasish @nickymateev @dzahariev @kirilkabakchiev @stefancholakov @svetlinzarev-sap @dragobt @kaloyanspiridonov @neighbors-dev-bot
/prow/jobs/incubator/hydroform/hydroform.yaml @janmedrek @neighbors-dev-bot
/prow/jobs/incubator/ord-service @gvachkov @kirilkabakchiev @nickymateev @dzahariev @svetlinzarev-sap @dragobt @kaloyanspiridonov @neighbors-dev-bot
/prow/jobs/incubator/reconciler/reconciler-k3d.yaml @kyma-project/jellyfish @neighbors-dev-bot
/prow/jobs/incubator/reconciler/reconciler.yaml @kyma-project/jellyfish @kyma-project/goat  @neighbors-dev-bot
/prow/jobs/infrastructure-manager/ @kyma-project/framefrog @neighbors-dev-bot
/prow/jobs/istio/ @kyma-project/goat @neighbors-dev-bot
/prow/jobs/kyma/common @kyma-project/framefrog @neighbors-dev-bot

/prow/jobs/kyma/components/event-publisher-proxy @kyma-project/eventing @neighbors-dev-bot
/prow/jobs/kyma/components/eventing-controller @kyma-project/eventing @neighbors-dev-bot
/prow/jobs/kyma/components/function-controller @kyma-project/otters @neighbors-dev-bot
/prow/jobs/kyma/components/function-runtimes @kyma-project/otters @neighbors-dev-bot
/prow/jobs/kyma/releases @kyma-project/prow @neighbors-dev-bot
/prow/jobs/kyma/tests/serverless @kyma-project/otters @neighbors-dev-bot
/prow/jobs/kyma/tests/serverless-bench @kyma-project/otters @neighbors-dev-bot
/prow/jobs/kyma/tools/gitserver @kyma-project/otters @neighbors-dev-bot
/prow/jobs/kyma/keb-endpoints-test.yaml @kyma-project/gopher @neighbors-dev-bot
/prow/jobs/kyma/kyma-gardener-cleanup.yaml @kyma-project/prow @neighbors-dev-bot
/prow/jobs/kyma/kyma-integration-gardener-eventing.yaml @kyma-project/eventing @neighbors-dev-bot
/prow/jobs/kyma/kyma-integration-gardener.yaml @kyma-project/jellyfish @neighbors-dev-bot
/prow/jobs/kyma/kyma-integration-k3d.yaml @kyma-project/observability @kyma-project/goat @kyma-project/jellyfish @neighbors-dev-bot
/prow/jobs/kyma/kyma-preview.yaml @kyma-project/observability @neighbors-dev-bot
/prow/jobs/kyma/kyma-release-pr-image-guard.yaml @kyma-project/prow @neighbors-dev-bot
/prow/jobs/kyma/kyma-validation.yaml @kyma-project/prow @neighbors-dev-bot
/prow/jobs/kyma/periodics.yaml @kyma-project/prow @neighbors-dev-bot
/prow/jobs/kyma/skr-aws-upgrade-integration-dev.yaml @kyma-project/gopher @neighbors-dev-bot
/prow/jobs/kyma/skr-integration.yaml @kyma-project/gopher @neighbors-dev-bot

/prow/jobs/kyma-dashboard @kyma-project/hasselhoff @neighbors-dev-bot
/prow/jobs/kyma-environment-broker @kyma-project/gopher @neighbors-dev-bot
/prow/jobs/kyma-project/compass-manager @kyma-project/framefrog @neighbors-dev-bot
/prow/jobs/kyma-project/control-plane @kyma-project/framefrog @neighbors-dev-bot
/prow/jobs/kyma-project/k8s-prow @kyma-project/prow @neighbors-dev-bot
/prow/jobs/kyma-project/kyma @kyma-project/framefrog @neighbors-dev-bot
/prow/jobs/kyma-project/telemetry-manager @kyma-project/observability @neighbors-dev-bot
/prow/jobs/kyma-project/warden @kyma-project/otters @neighbors-dev-bot
/prow/jobs/lifecycle-manager @kyma-project/jellyfish @neighbors-dev-bot
/prow/jobs/modules/external/keda-manager.yaml @kyma-project/otters @neighbors-dev-bot
/prow/jobs/modules/internal/application-connector-manager.yaml @kyma-project/framefrog @neighbors-dev-bot
/prow/jobs/modules/internal/serverless-manager.yaml @kyma-project/otters @neighbors-dev-bot
/prow/jobs/nats-manager @kyma-project/eventing @neighbors-dev-bot
/prow/jobs/runtime-watcher @kyma-project/jellyfish @neighbors-dev-bot
/prow/jobs/scans @kyma-project/prow @neighbors-dev-bot
/prow/jobs/slack-bot @kyma-project/gopher @neighbors-dev-bot
/prow/jobs/telemetry-manager @kyma-project/observability @neighbors-dev-bot
/prow/jobs/template-operator @kyma-project/jellyfish @neighbors-dev-bot
/prow/jobs/test-infra @kyma-project/prow @neighbors-dev-bot
/prow/jobs/third-party-images @kyma-project/observability @kyma-project/goat @kyma-project/otters @kyma-project/prow @neighbors-dev-bot
/prow/jobs/governance.yaml @kyma-project/technical-writers @neighbors-dev-bot

/prow/scripts @kyma-project/prow @neighbors-dev-bot

/templates @kyma-project/prow @neighbors-dev-bot
/templates/templates @kyma-project/prow @neighbors-dev-bot

templates/data/

# All .md files
*.md @mmitoraj @NHingerl @grego952 @IwonaLanger @nataliasitko @neighbors-dev-bot


# File index.md must be owned by prow group in case it will get changes in a pull request which is not allowed to be approved by approval bot.
# In such case a human approver from prow group must approve the pull request.
/docs/index.md @kyma-project/prow @neighbors-dev-bot
/docs/security/imagemitigation.json @TorstenD-SAP
